// Reboot

// Document
//
// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Body
//
// 1. Remove the margin in all browsers.
// 2. As a best practice, apply a default `background-color`.
// 3. Prevent adjustments of font size after orientation changes in iOS.
// 4. Change the default tap highlight to be completely transparent in iOS.

body {
  margin: 0; // 1
  font: $font;
  color: $body-color;
  -webkit-text-size-adjust: 100%; // 3
  -webkit-tap-highlight-color: transparent; // 4
  background-color: $body-bg; // 2
}

// Content grouping

hr {
  margin: $hr-margin-y 0;
  background-color: $hr-bg;
  border: 0;

  &:not([size]) {
    height: $hr-height; // Set correct height and prevent the `size` attribute to make the `hr` look like an input field
  }
}

// Typography
//
// 1. Remove top and bottom margins from headings
//    By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke both the top and the bottom
//    margin for easier control within type scales as it avoids margin collapsing.

%heading {
  margin-top: 0; // 1
  margin-bottom: 0; // 1
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1 {
  @extend %heading;
  font-size: $h1-font-size;
}

h2 {
  @extend %heading;
  font-size: $h2-font-size;
}

h3 {
  @extend %heading;
  font-size: $h3-font-size;
}

h4 {
  @extend %heading;
  font-size: $h4-font-size;
}

h5 {
  @extend %heading;
  font-size: $h5-font-size;
}

h6 {
  @extend %heading;
  font-size: $h6-font-size;
}

// Reset margins on paragraphs
//
// Similarly, both the top and the bottom margins on `<p>`s get reset.

p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  padding-left: 1.5rem;
}

// Strong
//
// Add the correct font weight in Chrome, Edge, and Safari

b,
strong {
  font-weight: $font-weight-bolder;
}

// Small
//
// Add the correct font size in all browsers

small {
  font-size: $small-font-size;
}

// Links

a {
  color: $link-color;
  text-decoration: none;
  @include transition($link-transition);

  &:hover {
    color: $link-hover-color;
  }

  // And undo these styles for placeholder links/named anchors (without href).
  // It would be more straightforward to just use a[href] in previous block, but that
  // causes specificity issues in many other styles that are too complex to fix.
  &:not([href]):not([class]) {
    &,
    &:hover {
      color: inherit;
    }
  }
}

// Images and content

img,
svg {
  vertical-align: middle;
}

// Forms
//
// 1. Allow labels to use `margin` for spacing.

label {
  display: inline-block; // 1
}

input,
button,
select,
optgroup,
textarea {
  margin: 0; // Remove the margin in Firefox and Safari
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

// Explicitly remove focus outline in Chromium when it shouldn't be
// visible (e.g. as result of mouse click or touch tap). It already
// should be doing this automatically, but seems to currently be
// confused and applies its very visible two-tone outline anyway.

button:focus:not(:focus-visible) {
  outline: 0;
}

// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
//    controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
// 3. Opinionated: add "hand" cursor to non-disabled button elements.

button,
[type="button"], // 1
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // 2
}

:is(button, [type="button"], [type="reset"], [type="submit"]):not(:disabled) {
  cursor: pointer; // 3
}

// Remove inner border and padding from Firefox

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

select {
  -webkit-appearance: none;
}

textarea {
  resize: vertical; // Textareas should really only resize vertically so they don't break their (horizontal) containers.
}

// 1. This overrides the extra rounded corners on search inputs in iOS so that our
//    `.form-control` class can properly style them. Note that this cannot simply
//    be added to `.form-control` as it's not specific enough.

[type="search"] {
  -webkit-appearance: textfield;
}

// Remove the inner padding in Chrome and Safari on macOS.

::-webkit-search-decoration,
::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

// 1. Change font properties to `inherit`
// 2. Correct the inability to style clickable types in iOS and Safari.

::-webkit-file-upload-button {
  font: inherit; // 1
  -webkit-appearance: button; // 2
}

// Remove border from iframe

iframe {
  border: 0;
}
