<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Breadcrumb</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
</head>
<body>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="#">Home<i class="ml-3" data-eva="chevron-right"></i></a>
      </li>
      <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="#">Library<i class="ml-3" data-eva="chevron-right"></i></a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a class="breadcrumb-link" href="#">Data</a>
      </li>
    </ol>
  </nav>
  <script src="../../../dist/js/jquery-slim.min.js"></script>
  <script src="../../../dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../../dist/js/eva.min.js"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
