<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Contacts</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-bkV/AssUyv83vA3BCj2g2Nn7rv1tW1gkXC1CPrFj0v9QP2WDMho6tbf18S99RNeT" crossorigin="anonymous">
</head>
<body>
  <main>
    <div class="py-11 mx-auto" style="max-width: 720px;">
      <div class="container">
        <div class="text-center">
          <h2 class="mb-5 font-weight-bold">Contacts</h2>
          <p class="mb-11 lead">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md">
                  <label for="name">Name</label>
                  <input class="form-control form-control-lg mb-5" id="name" type="text" placeholder="Name" required>
                </div>
                <div class="col-md">
                  <label for="email">Email</label>
                  <input class="form-control form-control-lg mb-5" id="email" type="email" placeholder="Email Address" required>
                </div>
              </div>
              <label for="subject">Subject</label>
              <input class="form-control form-control-lg mb-5" id="subject" type="text" placeholder="Subject" required>
              <label for="message">Message</label>
              <textarea class="form-control mb-5" id="message" rows="3" placeholder="Brief description" required></textarea>
              <button class="btn btn-block btn-lg btn-primary" type="submit">Send message</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>
