<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Features</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-AKT9MKPmIq4VMihDqOB6HeDHSsXGyf92WHPCSwHAZPIVJpD8Jv6dmfTLZeLDvV4O" crossorigin="anonymous">
</head>
<body>
  <main>
    <div class="py-11">
      <div class="container">
        <div class="text-center">
          <h2 class="mb-5 fw-700">Features</h2>
          <p class="mb-11 h5">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-xl-4">
            <div class="card mb-5 mb-xl-0">
              <div class="card-body">
                <span class="icon mb-5 bg-primary rounded-circle">
                  <i class="fill-white" data-eva="pricetags"></i>
                </span>
                <h5 class="mb-3">
                  <a href="#">Pricing</a>
                </h5>
                <p class="mb-3">The quick brown fox jumps over the lazy dog.</p>
                <a class="fw-600 link-primary" href="#">Go somewhere<i class="fill-primary" data-eva="chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="card mb-5 mb-xl-0">
              <div class="card-body">
                <span class="icon mb-5 bg-success rounded-circle">
                  <i class="fill-white" data-eva="settings"></i>
                </span>
                <h5 class="mb-3">
                  <a href="#">Support</a>
                </h5>
                <p class="mb-3">The quick brown fox jumps over the lazy dog.</p>
                <a class="fw-600 link-primary" href="#">Go somewhere<i class="fill-primary" data-eva="chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card">
              <div class="card-body">
                <span class="icon mb-5 bg-info rounded-circle">
                  <i class="fill-white" data-eva="shield"></i>
                </span>
                <h5 class="mb-3">
                  <a href="#">Security</a>
                </h5>
                <p class="mb-3">The quick brown fox jumps over the lazy dog.</p>
                <a class="fw-600 link-primary" href="#">Go somewhere<i class="fill-primary" data-eva="chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/eva-icons@1.1.2/eva.min.js" integrity="sha384-evc6xuruZOLSxcDYJOMhN4pnuWv2x1hHaVU9m0os+cvprT9Gg1sgClT+EM4n/ng9" crossorigin="anonymous"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
