<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Features</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
</head>
<body>
  <main>
    <div class="py-11">
      <div class="container">
        <div class="text-center">
          <h2 class="mb-5 fw-700">Features</h2>
          <p class="mb-11 h5">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <i class="eva-md eva-primary mr-3" data-eva="radio-outline"></i>
                  <h5>
                    <a href="#">Feature</a>
                  </h5>
                </div>
                <p>The quick brown fox jumps over the lazy dog.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <i class="eva-md eva-primary mr-3" data-eva="music-outline"></i>
                  <h5>
                    <a href="#">Feature</a>
                  </h5>
                </div>
                <p>The quick brown fox jumps over the lazy dog.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <i class="eva-md eva-primary mr-3" data-eva="tv-outline"></i>
                  <h5>
                    <a href="#">Feature</a>
                  </h5>
                </div>
                <p>The quick brown fox jumps over the lazy dog.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="../../../dist/js/jquery-slim.min.js"></script>
  <script src="../../../dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../../dist/js/eva.min.js"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
