<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Features</title>
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">
</head>
<body>
  <div class="py-11">
    <div class="container">
      <div class="mx-auto text-center" style="max-width: 468px;">
        <h1 class="mb-5 fs-xl font-weight-bold">Features</h1>
        <p class="mb-11" style="font-size: 1.125rem;">The quick brown fox jumps over the lazy dog.</p>
      </div>
      <div class="row">
        <div class="col-md-6 col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <span class="d-inline-flex flex-shrink-0 align-items-center justify-content-center mb-5 bg-primary rounded-circle" style="width: 2.5rem; height: 2.5rem;">
              <svg class="gi gi-star fs-md text-white" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.002 18.768l-5.098 2.68a1 1 0 0 1-1.451-1.054l.974-5.677-4.125-4.02a1 1 0 0 1 .554-1.706l5.7-.828 2.55-5.165a1 1 0 0 1 1.793 0l2.55 5.165 5.7.828a1 1 0 0 1 .554 1.706l-4.125 4.02.974 5.677a1 1 0 0 1-1.451 1.054l-5.098-2.68z"/>
              </svg>
            </span>
            <h2 class="mb-3" style="font-size: 1.125rem;">
              <a href="#">Card title</a>
            </h2>
            <p class="mb-3">The quick brown fox jumps over the lazy dog.</p>
            <a class="d-flex font-weight-semi-bold" href="#">
              Go somewhere
              <svg class="gi gi-chevron-right fs-md" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.293 7.293a1 1 0 00-.083 1.32l.083.094L12.585 12l-3.292 3.293a1 1 0 00-.083 1.32l.083.094a1 1 0 001.32.083l.094-.083 4-4a1 1 0 00.083-1.32l-.083-.094-4-4a1 1 0 00-1.414 0z"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <span class="d-inline-flex flex-shrink-0 align-items-center justify-content-center mb-5 bg-success rounded-circle" style="width: 2.5rem; height: 2.5rem;">
              <svg class="gi gi-heart fs-md text-white" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.555 5a5.31 5.31 0 0 1 7.506 0l.938.938.94-.938a5.31 5.31 0 0 1 7.506 0 5.31 5.31 0 0 1 0 7.506l-7.737 7.737a1 1 0 0 1-1.414 0l-7.737-7.737a5.31 5.31 0 0 1 0-7.506z"/>
              </svg>
            </span>
            <h2 class="mb-3" style="font-size: 1.125rem;">
              <a href="#">Card title</a>
            </h2>
            <p class="mb-3">The quick brown fox jumps over the lazy dog.</p>
            <a class="d-flex font-weight-semi-bold" href="#">
              Go somewhere
              <svg class="gi gi-chevron-right fs-md" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.293 7.293a1 1 0 00-.083 1.32l.083.094L12.585 12l-3.292 3.293a1 1 0 00-.083 1.32l.083.094a1 1 0 001.32.083l.094-.083 4-4a1 1 0 00.083-1.32l-.083-.094-4-4a1 1 0 00-1.414 0z"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <span class="d-inline-flex flex-shrink-0 align-items-center justify-content-center mb-5 bg-info rounded-circle" style="width: 2.5rem; height: 2.5rem;">
              <svg class="gi gi-flash fs-md text-white" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.193 13.405l-.06.092a1 1 0 0 0 .868 1.497l5.847-.001-.837 5.86c-.147 1.032 1.185 1.573 1.8.73L19.87 10.5a1 1 0 0 0-.868-1.496l-5.848-.001.838-5.847c.148-1.032-1.185-1.573-1.798-.73l-8 11z"/>
              </svg>
            </span>
            <h2 class="mb-3" style="font-size: 1.125rem;">
              <a href="#">Card title</a>
            </h2>
            <p class="mb-3">The quick brown fox jumps over the lazy dog.</p>
            <a class="d-flex font-weight-semi-bold" href="#">
              Go somewhere
              <svg class="gi gi-chevron-right fs-md" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.293 7.293a1 1 0 00-.083 1.32l.083.094L12.585 12l-3.292 3.293a1 1 0 00-.083 1.32l.083.094a1 1 0 001.32.083l.094-.083 4-4a1 1 0 00.083-1.32l-.083-.094-4-4a1 1 0 00-1.414 0z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>
