:root {
  --dark: var(--dark-100);
  --neutral: var(--dark-100);
  --neutral-hover: hsl(240, 8%, 31%);
  --neutral-active: var(--dark-200);
  --body-color: hsl(240, 8%, 60%);
  --headings-color: var(--white);
  --link-color: var(--white);
  --link-hover-color: hsl(0, 0%, 88%);
  --link-active-color: var(--white);
  --body-bg: var(--dark-700);
  --card-bg: var(--dark-500);
  --fill-bg: var(--dark-200);
  --fill-hover-bg: hsl(240, 8%, 36%);
  --box-shadow: none;
}

.card-group {
  background-color: var(--dark-400);
  border-radius: .5rem;
}

.card-group .card {
  border-radius: 0;
}

.card-group-stripped .card:last-child {
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.card-group-stripped .card:nth-child(even) {
  background-color: inherit;
}

.avatar-responsive {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 992px) {
  .avatar-responsive {
    width: 6rem;
    height: 6rem;
  }
}

.blockquote {
  padding: var(--spacer-5);
  margin: 0;
  background-color: var(--dark-300);
  border-left: 4px solid var(--primary);
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
