<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Table</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
</head>
<body>
  <main>
    <div class="py-11">
      <div class="container">
        <div class="text-center">
          <h2 class="mb-5 fw-700">Table</h2>
          <p class="mb-11 h5">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <script src="../../../dist/js/jquery-slim.min.js"></script>
  <script src="../../../dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../../dist/js/eva.min.js"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
