<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Table</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-AKT9MKPmIq4VMihDqOB6HeDHSsXGyf92WHPCSwHAZPIVJpD8Jv6dmfTLZeLDvV4O" crossorigin="anonymous">
</head>
<body>
  <main>
    <div class="py-11">
      <div class="container">
        <div class="text-center">
          <h2 class="mb-5 font-weight-bold">Table</h2>
          <p class="mb-11 lead">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
              <tr>
                <td>2</td>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
              <tr>
                <td>3</td>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
              <tr>
                <td>4</td>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
              <tr>
                <td>5</td>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
              <tr>
                <td>6</td>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
              <tr>
                <td>7</td>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
              <tr>
                <td>8</td>
                <td>John</td>
                <td>Doe</td>
                <td>@johndoe</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>
