<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Single Post</title>
  <link rel="stylesheet" href="../../../css/grayshift.min.css">
  <link rel="stylesheet" href="forum.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">
</head>
<body>
  <div class="py-6">
    <div class="container">
      <div class="card-group">
        <div class="p-5">
          <h1 style="font-size: 1.125rem;">A test topic</h1>
        </div>
        <div class="card rounded-bottom">
          <div class="row">
            <div class="col-lg-3">
              <div class="d-flex d-lg-block mb-5 mb-lg-0 text-lg-center">
                <span class="avatar-responsive d-inline-flex flex-shrink-0 mr-3 mr-lg-0 mb-lg-3 bg-dark rounded-circle"></span>
                <div class="mb-lg-3">
                  <h2 class="fs-1 lh-relaxed">John</h2>
                  <p>Administrator</p>
                </div>
                <ul class="list-unstyled d-none d-lg-inline-flex">
                  <li class="d-flex align-items-center mr-1">
                    <svg class="gi gi-star fs-2 text-warning" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.002 18.768l-5.098 2.68a1 1 0 0 1-1.451-1.054l.974-5.677-4.125-4.02a1 1 0 0 1 .554-1.706l5.7-.828 2.55-5.165a1 1 0 0 1 1.793 0l2.55 5.165 5.7.828a1 1 0 0 1 .554 1.706l-4.125 4.02.974 5.677a1 1 0 0 1-1.451 1.054l-5.098-2.68z"/>
                    </svg>
                  </li>
                  <li class="d-flex align-items-center mr-1">
                    <svg class="gi gi-star fs-2 text-warning" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.002 18.768l-5.098 2.68a1 1 0 0 1-1.451-1.054l.974-5.677-4.125-4.02a1 1 0 0 1 .554-1.706l5.7-.828 2.55-5.165a1 1 0 0 1 1.793 0l2.55 5.165 5.7.828a1 1 0 0 1 .554 1.706l-4.125 4.02.974 5.677a1 1 0 0 1-1.451 1.054l-5.098-2.68z"/>
                    </svg>
                  </li>
                  <li class="d-flex align-items-center mr-1">
                    <svg class="gi gi-star fs-2 text-warning" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.002 18.768l-5.098 2.68a1 1 0 0 1-1.451-1.054l.974-5.677-4.125-4.02a1 1 0 0 1 .554-1.706l5.7-.828 2.55-5.165a1 1 0 0 1 1.793 0l2.55 5.165 5.7.828a1 1 0 0 1 .554 1.706l-4.125 4.02.974 5.677a1 1 0 0 1-1.451 1.054l-5.098-2.68z"/>
                    </svg>
                  </li>
                  <li class="d-flex align-items-center mr-1">
                    <svg class="gi gi-star fs-2" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.002 18.768l-5.098 2.68a1 1 0 0 1-1.451-1.054l.974-5.677-4.125-4.02a1 1 0 0 1 .554-1.706l5.7-.828 2.55-5.165a1 1 0 0 1 1.793 0l2.55 5.165 5.7.828a1 1 0 0 1 .554 1.706l-4.125 4.02.974 5.677a1 1 0 0 1-1.451 1.054l-5.098-2.68z"/>
                    </svg>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="gi gi-star fs-2" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.002 18.768l-5.098 2.68a1 1 0 0 1-1.451-1.054l.974-5.677-4.125-4.02a1 1 0 0 1 .554-1.706l5.7-.828 2.55-5.165a1 1 0 0 1 1.793 0l2.55 5.165 5.7.828a1 1 0 0 1 .554 1.706l-4.125 4.02.974 5.677a1 1 0 0 1-1.451 1.054l-5.098-2.68z"/>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="d-flex align-items-center mb-5">
                <svg class="gi gi-clock mr-2 fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2zm0 5a1 1 0 0 0-1 1h0v4l.007.117A1 1 0 0 0 12 13h4l.117-.007A1 1 0 0 0 17 12h0l-.007-.117A1 1 0 0 0 16 11h0-3V8l-.007-.117A1 1 0 0 0 12 7z"/>
                </svg>
                <p class="mr-auto">Apr 8, 2020</p>
                <button class="btn link-body p-0" type="button">
                  <svg class="gi gi-share fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 3a3 3 0 1 1 0 6 2.99 2.99 0 0 1-2.082-.84l-6.94 3.47a3.03 3.03 0 0 1 0 .741l6.94 3.47A2.99 2.99 0 0 1 18 15a3 3 0 1 1 0 6 3 3 0 0 1-3-3 3.03 3.03 0 0 1 .023-.371l-6.94-3.47A2.99 2.99 0 0 1 6 15a3 3 0 1 1 0-6 2.99 2.99 0 0 1 2.082.84l6.94-3.47A3.03 3.03 0 0 1 15 6a3 3 0 0 1 3-3z"/>
                  </svg>
                </button>
              </div>
              <p class="mb-5">Geckos are reptiles and are found on all the continents except Antarctica. These colorful lizards have adapted to habitats from rain forests, to deserts, to cold mountain slopes. Over a long period of time, geckos have developed special physical features to help them survive and avoid predators.</p>
              <div class="d-flex align-items-center">
                <button class="btn link-body d-flex p-0 mr-auto" type="button">
                  <svg class="gi gi-plus-square mr-2 fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 3a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3h12zm-6 5a1 1 0 0 0-1 1h0v2H9a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0h0v-2h2a1 1 0 1 0 0-2h0-2V9a1 1 0 0 0-1-1z"/>
                  </svg>
                  Quote
                </button>
                <p class="mr-3">8 likes</p>
                <button class="btn btn-auto d-inline-flex flex-shrink-0 align-items-center justify-content-center p-0 rounded-circle" style="width: 2.5rem; height: 2.5rem;" type="button">
                  <svg class="gi gi-heart fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.555 5a5.31 5.31 0 0 1 7.506 0l.938.938.94-.938a5.31 5.31 0 0 1 7.506 0 5.31 5.31 0 0 1 0 7.506l-7.737 7.737a1 1 0 0 1-1.414 0l-7.737-7.737a5.31 5.31 0 0 1 0-7.506z"/>
                  </svg>
                </button>
              </div>
              <hr role="presentation">
              <p class="font-italic">"On 'Death In Paradise,' I had a CGI pet lizard and had to react to nothing, which was hideously embarrassing." - Ben Miller</p>
            </div>
          </div>
          <hr role="presentation">
          <div class="row">
            <div class="col-lg-3">
              <div class="d-flex d-lg-block mb-5 mb-lg-0 text-lg-center">
                <span class="avatar-responsive d-inline-flex flex-shrink-0 mr-3 mr-lg-0 mb-lg-3 bg-dark rounded-circle"></span>
                <div class="mb-lg-3">
                  <h2 class="fs-1 lh-relaxed">John</h2>
                  <p>Member</p>
                </div>
                <ul class="list-unstyled d-none d-lg-inline-flex">
                  <li class="d-flex align-items-center mr-1">
                    <svg class="gi gi-star fs-2 text-warning" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.002 18.768l-5.098 2.68a1 1 0 0 1-1.451-1.054l.974-5.677-4.125-4.02a1 1 0 0 1 .554-1.706l5.7-.828 2.55-5.165a1 1 0 0 1 1.793 0l2.55 5.165 5.7.828a1 1 0 0 1 .554 1.706l-4.125 4.02.974 5.677a1 1 0 0 1-1.451 1.054l-5.098-2.68z"/>
                    </svg>
                  </li>
                  <li class="d-flex align-items-center mr-1">
                    <svg class="gi gi-star fs-2 text-warning" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.002 18.768l-5.098 2.68a1 1 0 0 1-1.451-1.054l.974-5.677-4.125-4.02a1 1 0 0 1 .554-1.706l5.7-.828 2.55-5.165a1 1 0 0 1 1.793 0l2.55 5.165 5.7.828a1 1 0 0 1 .554 1.706l-4.125 4.02.974 5.677a1 1 0 0 1-1.451 1.054l-5.098-2.68z"/>
                    </svg>
                  </li>
                  <li class="d-flex align-items-center mr-1">
                    <svg class="gi gi-star fs-2" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.002 18.768l-5.098 2.68a1 1 0 0 1-1.451-1.054l.974-5.677-4.125-4.02a1 1 0 0 1 .554-1.706l5.7-.828 2.55-5.165a1 1 0 0 1 1.793 0l2.55 5.165 5.7.828a1 1 0 0 1 .554 1.706l-4.125 4.02.974 5.677a1 1 0 0 1-1.451 1.054l-5.098-2.68z"/>
                    </svg>
                  </li>
                  <li class="d-flex align-items-center mr-1">
                    <svg class="gi gi-star fs-2" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.002 18.768l-5.098 2.68a1 1 0 0 1-1.451-1.054l.974-5.677-4.125-4.02a1 1 0 0 1 .554-1.706l5.7-.828 2.55-5.165a1 1 0 0 1 1.793 0l2.55 5.165 5.7.828a1 1 0 0 1 .554 1.706l-4.125 4.02.974 5.677a1 1 0 0 1-1.451 1.054l-5.098-2.68z"/>
                    </svg>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="gi gi-star fs-2" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.002 18.768l-5.098 2.68a1 1 0 0 1-1.451-1.054l.974-5.677-4.125-4.02a1 1 0 0 1 .554-1.706l5.7-.828 2.55-5.165a1 1 0 0 1 1.793 0l2.55 5.165 5.7.828a1 1 0 0 1 .554 1.706l-4.125 4.02.974 5.677a1 1 0 0 1-1.451 1.054l-5.098-2.68z"/>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="d-flex align-items-center mb-5">
                <svg class="gi gi-clock mr-2 fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2zm0 5a1 1 0 0 0-1 1h0v4l.007.117A1 1 0 0 0 12 13h4l.117-.007A1 1 0 0 0 17 12h0l-.007-.117A1 1 0 0 0 16 11h0-3V8l-.007-.117A1 1 0 0 0 12 7z"/>
                </svg>
                <p class="mr-auto">Aug 16, 2020</p>
                <button class="btn link-body p-0" type="button">
                  <svg class="gi gi-share fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 3a3 3 0 1 1 0 6 2.99 2.99 0 0 1-2.082-.84l-6.94 3.47a3.03 3.03 0 0 1 0 .741l6.94 3.47A2.99 2.99 0 0 1 18 15a3 3 0 1 1 0 6 3 3 0 0 1-3-3 3.03 3.03 0 0 1 .023-.371l-6.94-3.47A2.99 2.99 0 0 1 6 15a3 3 0 1 1 0-6 2.99 2.99 0 0 1 2.082.84l6.94-3.47A3.03 3.03 0 0 1 15 6a3 3 0 0 1 3-3z"/>
                  </svg>
                </button>
              </div>
              <blockquote class="callout callout-primary mb-5">
                <p>Most geckos don’t have movable eyelids and instead have one transparent eyelid which they keep clean by licking it with their tongues.</p>
              </blockquote>
              <p class="mb-5">Most geckos are nocturnal, which means they are active at night, but day geckos are active during the day and nibble on insects, fruits, and flower nectar. Most geckos make noises such as chirping, barking, and clicking when they are defending their territory or attracting a mate.</p>
              <div class="d-flex align-items-center">
                <button class="btn link-body d-flex p-0 mr-auto" type="button">
                  <svg class="gi gi-plus-square mr-2 fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 3a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3h12zm-6 5a1 1 0 0 0-1 1h0v2H9a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0h0v-2h2a1 1 0 1 0 0-2h0-2V9a1 1 0 0 0-1-1z"/>
                  </svg>
                  Quote
                </button>
                <p class="mr-3">16 likes</p>
                <button class="btn btn-danger d-inline-flex flex-shrink-0 align-items-center justify-content-center p-0 rounded-circle" style="width: 2.5rem; height: 2.5rem;" type="button">
                  <svg class="gi gi-heart fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.555 5a5.31 5.31 0 0 1 7.506 0l.938.938.94-.938a5.31 5.31 0 0 1 7.506 0 5.31 5.31 0 0 1 0 7.506l-7.737 7.737a1 1 0 0 1-1.414 0l-7.737-7.737a5.31 5.31 0 0 1 0-7.506z"/>
                  </svg>
                </button>
              </div>
              <hr role="presentation">
              <p class="font-italic">"I am not a demon. I am a lizard, a shark, a heat-seeking panther. I want to be Bob Denver on acid playing the accordion." - Nicolas Cage</p>
            </div>
          </div>
          <hr role="presentation">
          <form>
            <div class="input-group">
              <div class="input-group-item px-sm-5">
                <svg class="gi gi-message-square fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19 2.335a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-3.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.518.096l-.08-.096-1.9-2.533a1 1 0 0 0-.8-.4H5a3 3 0 0 1-3-3v-10a3 3 0 0 1 3-3h14zm-11 7a1 1 0 1 0 0 2 1 1 0 1 0 0-2zm4 0a1 1 0 1 0 0 2 1 1 0 1 0 0-2zm4 0a1 1 0 1 0 0 2 1 1 0 1 0 0-2z"/>
                </svg>
              </div>
              <input class="form-control form-control-lg p-sm-5 px-sm-0" type="text" placeholder="Reply to this topic..." aria-label="Reply to this topic...">
              <div class="input-group-item px-sm-5">
                <button class="btn link-body p-0" type="submit">
                  <svg class="gi gi-paper-plane fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.98 4.134l-.03.117-5.367 16.1c-.277.832-1.42.864-1.763.096l-.037-.096-2.533-7.6-7.6-2.533c-.798-.266-.86-1.33-.184-1.718l.088-.045.096-.037 16.1-5.367a.95.95 0 0 1 1.231 1.083zm-3.303 3.602l-4.495 4.495 1.498 4.498 2.997-8.993zm-1.412-1.418L7.27 9.316l4.5 1.5 4.497-4.497z"/>
                  </svg>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>
