:root {
  /* Components */
  --card-group-bg: var(--light-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Components */
    --card-group-bg: var(--dark-700);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 720px;
  }
}

.card-group {
  padding: var(--spacer-5);
  background-color: var(--card-group-bg);
  border-radius: var(--border-radius-lg);
}

.card-project .progress,
.card-task .progress {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: .25rem;
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
}

@media (max-width: 767.98px) {
  .card-task .dropdown {
    position: absolute;
    top: var(--spacer-5);
    right: var(--spacer-5);
  }
}

.dropzone {
  display: inline-block;
  width: 100%;
  padding: var(--spacer-5);
  font-weight: 500;
  color: var(--body-color);
  text-align: center;
  cursor: pointer;
  background-color: var(--card-bg);
  border: var(--border-dashed);
  border-radius: var(--border-radius-lg);
  transition: background-color .4s ease;
}

@media (prefers-reduced-motion: reduce) {
  .dropzone {
    transition: none;
  }
}

.dropzone:hover {
  background-color: var(--fill-bg);
}
