<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-AKT9MKPmIq4VMihDqOB6HeDHSsXGyf92WHPCSwHAZPIVJpD8Jv6dmfTLZeLDvV4O" crossorigin="anonymous">
</head>
<body>
  <main>
    <div class="d-flex align-items-center min-vh-100 py-11 mx-auto" style="max-width: 468px;">
      <div class="container">
        <div class="card">
          <div class="card-body p-sm-9">
            <form>
              <h2 class="mb-5">Login</h2>
              <label class="sr-only" for="username">Username</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <i data-eva="person"></i>
                </div>
                <input class="form-control form-control-lg" id="username" type="text" placeholder="Username" required>
              </div>
              <label class="sr-only" for="password">Password</label>
              <div class="input-group mb-5">
                <div class="input-group-prepend">
                  <i data-eva="lock"></i>
                </div>
                <input class="form-control form-control-lg" id="password" type="password" placeholder="Password" required>
              </div>
              <a class="link-primary" href="#">Forgot password?</a>
              <button class="btn btn-block btn-lg btn-primary mt-3" type="submit">Sign In</button>
              <p class="mt-5 text-center">Don't have account? <a class="link-primary" href="#">Sign Up</a>.</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/eva-icons@1.1.2/eva.min.js" integrity="sha384-evc6xuruZOLSxcDYJOMhN4pnuWv2x1hHaVU9m0os+cvprT9Gg1sgClT+EM4n/ng9" crossorigin="anonymous"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
