<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact Form</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">
</head>
<body>
  <main>
    <div class="py-11 mx-auto" style="max-width: 540px;">
      <div class="container">
        <div class="mx-auto text-center" style="max-width: 468px;">
          <h1 class="mb-5 fs-xl font-weight-bold">Contact Form</h1>
          <p class="mb-11" style="font-size: 1.125rem;">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="card">
          <form>
            <label for="email">Email</label>
            <input class="form-control form-control-lg mb-5" id="email" type="email" placeholder="Email Address" required>
            <label for="subject">Subject</label>
            <input class="form-control form-control-lg mb-5" id="subject" type="text" placeholder="Subject" required>
            <label for="message">Message</label>
            <textarea class="form-control mb-5" id="message" rows="3" placeholder="Brief description" required></textarea>
            <button class="btn btn-lg btn-primary d-block w-100" type="submit">Send message</button>
          </form>
        </div>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>
