.comment .input-group-prepend {
  padding-left: var(--spacer-5);
  background-color: var(--card-bg);
}

.comment .form-control {
  padding: var(--spacer-5);
  background-color: var(--card-bg);
}

.toggle {
  width: 100%;
  padding: var(--spacer-5);
  text-align: center;
  background-color: var(--card-bg);
  border-radius: var(--border-radius-lg);
}

.toggle:hover {
  background-color: var(--fill-bg);
}

.toggle[aria-expanded="false"]:after {
  content: "Show all responses";
}

.toggle[aria-expanded="true"] {
  background-color: var(--fill-bg);
}

.toggle[aria-expanded="true"]:after {
  content: "Hide all responses";
}
