<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Article</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="article.min.css">
</head>
<body>
  <main>
    <div class="py-11 mx-auto" style="max-width: 720px;">
      <div class="container">
        <h2 class="mb-8">Blog post title</h2>
        <svg class="mb-8 rounded" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50">
          <rect width="100%" height="100%" fill="var(--neutral)"></rect>
        </svg>
        <h3 class="mb-5">Chapter</h3>
        <p class="mb-3 h5">A favorite copy set by writing teachers for their pupils is the following, because it contains every letter of the alphabet: „The quick brown fox jumps over the lazy dog.“</p>
        <p class="mb-3 h5">A favorite copy set by writing teachers for their pupils is the following, because it contains every letter of the alphabet: „The quick brown fox jumps over the lazy dog.“</p>
        <p class="mb-8 h5">A favorite copy set by writing teachers for their pupils is the following, because it contains every letter of the alphabet: „The quick brown fox jumps over the lazy dog.“</p>
        <h3 class="mb-5">Another chapter</h3>
        <p class="mb-3 h5">A favorite copy set by writing teachers for their pupils is the following, because it contains every letter of the alphabet: „The quick brown fox jumps over the lazy dog.“</p>
        <p class="mb-3 h5">A favorite copy set by writing teachers for their pupils is the following, because it contains every letter of the alphabet: „The quick brown fox jumps over the lazy dog.“</p>
        <p class="mb-8 h5">A favorite copy set by writing teachers for their pupils is the following, because it contains every letter of the alphabet: „The quick brown fox jumps over the lazy dog.“</p>
        <h3 class="mb-5">Something else here</h3>
        <p class="mb-3 h5">A favorite copy set by writing teachers for their pupils is the following, because it contains every letter of the alphabet: „The quick brown fox jumps over the lazy dog.“</p>
        <p class="mb-3 h5">A favorite copy set by writing teachers for their pupils is the following, because it contains every letter of the alphabet: „The quick brown fox jumps over the lazy dog.“</p>
        <p class="mb-8 h5">A favorite copy set by writing teachers for their pupils is the following, because it contains every letter of the alphabet: „The quick brown fox jumps over the lazy dog.“</p>
        <h3 class="mb-5">Comments</h3>
        <div class="input-group comment mb-5">
          <div class="input-group-prepend">
            <i data-eva="message-circle"></i>
          </div>
          <input class="form-control" placeholder="Type message...">
        </div>
        <button class="btn toggle" data-toggle="collapse" data-target="#posts" type="button" aria-controls="posts" aria-expanded="true"></button>
        <div class="collapse show" id="posts">
          <div class="card my-5">
            <div class="card-body">
              <div class="d-flex mb-5">
                <a class="avatar avatar-md mr-3 h5 bg-primary rounded-circle" href="#">jd</a>
                <div class="mr-auto">
                  <h6 class="lh-150">
                    <a href="#">John Doe</a>
                  </h6>
                  <p>Manhattan</p>
                </div>
                <div class="dropdown">
                  <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                    <i data-eva="more-vertical"></i>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                  </div>
                </div>
              </div>
              <p class="mb-5">The quick brown fox jumps over the lazy dog.</p>
              <div class="d-flex">
                <button class="btn btn-sm btn-circle btn-neutral mr-auto" type="button">
                  <i data-eva="heart"></i>
                </button>
                <button class="btn" type="button">
                  <i data-eva="bookmark"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card mb-5">
            <div class="card-body">
              <div class="d-flex mb-5">
                <a class="avatar avatar-md mr-3 h5 bg-success rounded-circle" href="#">jd</a>
                <div class="mr-auto">
                  <h6 class="lh-150">
                    <a href="#">John Doe</a>
                  </h6>
                  <p>Manhattan</p>
                </div>
                <div class="dropdown">
                  <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                    <i data-eva="more-vertical"></i>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                  </div>
                </div>
              </div>
              <p class="mb-5">The quick brown fox jumps over the lazy dog.</p>
              <div class="d-flex">
                <button class="btn btn-sm btn-circle btn-neutral mr-auto" type="button">
                  <i data-eva="heart"></i>
                </button>
                <button class="btn" type="button">
                  <i data-eva="bookmark"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="d-flex mb-5">
                <a class="avatar avatar-md mr-3 h5 bg-info rounded-circle" href="#">jd</a>
                <div class="mr-auto">
                  <h6 class="lh-150">
                    <a href="#">John Doe</a>
                  </h6>
                  <p>Manhattan</p>
                </div>
                <div class="dropdown">
                  <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                    <i data-eva="more-vertical"></i>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                  </div>
                </div>
              </div>
              <p class="mb-5">The quick brown fox jumps over the lazy dog.</p>
              <div class="d-flex">
                <button class="btn btn-sm btn-circle btn-neutral mr-auto" type="button">
                  <i data-eva="heart"></i>
                </button>
                <button class="btn" type="button">
                  <i data-eva="bookmark"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="../../../dist/js/jquery-slim.min.js"></script>
  <script src="../../../dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../../dist/js/eva.min.js"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
