<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Blog</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-AKT9MKPmIq4VMihDqOB6HeDHSsXGyf92WHPCSwHAZPIVJpD8Jv6dmfTLZeLDvV4O" crossorigin="anonymous">
</head>
<body>
  <main>
    <div class="py-11">
      <div class="container">
        <div class="text-center">
          <h2 class="mb-5 fw-700">Blog</h2>
          <p class="mb-11 h5">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-xl-4">
            <div class="card mb-5 mb-xl-0">
              <div class="card-body">
                <span class="badge mb-3 text-uppercase bg-neutral">Games</span>
                <h5 class="mb-3 lh-150">
                  <a href="#">Blog post title</a>
                </h5>
                <p>The quick brown fox jumps over the lazy dog.</p>
                <hr>
                <div class="d-flex">
                  <p class="mr-auto">Dec 24, 2019</p>
                  <button class="btn mr-3" type="button"><i class="mr-2" data-eva="message-circle"></i>40</button>
                  <button class="btn" type="button"><i class="mr-2" data-eva="heart"></i>48</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="card mb-5 mb-xl-0">
              <div class="card-body">
                <span class="badge mb-3 text-uppercase bg-neutral">Movies</span>
                <h5 class="mb-3 lh-150">
                  <a href="#">Blog post title</a>
                </h5>
                <p>The quick brown fox jumps over the lazy dog.</p>
                <hr>
                <div class="d-flex">
                  <p class="mr-auto">Aug 16, 2019</p>
                  <button class="btn mr-3" type="button"><i class="mr-2" data-eva="message-circle"></i>24</button>
                  <button class="btn" type="button"><i class="mr-2" data-eva="heart"></i>32</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card">
              <div class="card-body">
                <span class="badge mb-3 text-uppercase bg-neutral">Music</span>
                <h5 class="mb-3 lh-150">
                  <a href="#">Blog post title</a>
                </h5>
                <p>The quick brown fox jumps over the lazy dog.</p>
                <hr>
                <div class="d-flex">
                  <p class="mr-auto">Apr 8, 2019</p>
                  <button class="btn mr-3" type="button"><i class="mr-2" data-eva="message-circle"></i>8</button>
                  <button class="btn" type="button"><i class="mr-2" data-eva="heart"></i>16</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/eva-icons@1.1.2/eva.min.js" integrity="sha384-evc6xuruZOLSxcDYJOMhN4pnuWv2x1hHaVU9m0os+cvprT9Gg1sgClT+EM4n/ng9" crossorigin="anonymous"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
