<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Applicants</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="applicants.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-AKT9MKPmIq4VMihDqOB6HeDHSsXGyf92WHPCSwHAZPIVJpD8Jv6dmfTLZeLDvV4O" crossorigin="anonymous">
</head>
<body>
  <main>
    <div class="py-11">
      <div class="container">
        <div class="text-center">
          <h2 class="mb-5 fw-700">Applicants</h2>
          <p class="mb-11 h5">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-xl-4">
            <div class="card mb-5 mb-xl-0">
              <svg class="rounded-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50">
                <rect width="100%" height="100%" fill="var(--neutral)"></rect>
              </svg>
              <button class="btn btn-circle play" type="button">
                <i data-eva="arrow-right"></i>
              </button>
              <div class="card-body">
                <h5 class="mb-3">
                  <a href="#">Engineer</a>
                </h5>
                <p>The quick brown fox jumps over the lazy dog.</p>
                <hr>
                <div class="d-flex">
                  <div class="d-flex mr-auto">
                    <span class="avatar avatar-sm mr-3 bg-primary rounded-circle">jd</span>
                    <div>
                      <h6 class="mb-2 lh-100">
                        <a href="#">John Doe</a>
                      </h6>
                      <p class="lh-100">Manhattan</p>
                    </div>
                  </div>
                  <i class="eva-md align-self-center" data-eva="activity"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="card mb-5 mb-xl-0">
              <svg class="rounded-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50">
                <rect width="100%" height="100%" fill="var(--neutral)"></rect>
              </svg>
              <button class="btn btn-circle play" type="button">
                <i data-eva="arrow-right"></i>
              </button>
              <div class="card-body">
                <h5 class="mb-3">
                  <a href="#">Mechanic</a>
                </h5>
                <p>The quick brown fox jumps over the lazy dog.</p>
                <hr>
                <div class="d-flex">
                  <div class="d-flex mr-auto">
                    <span class="avatar avatar-sm mr-3 bg-success rounded-circle">jd</span>
                    <div>
                      <h6 class="mb-2 lh-100">
                        <a href="#">John Doe</a>
                      </h6>
                      <p class="lh-100">Manhattan</p>
                    </div>
                  </div>
                  <i class="eva-md align-self-center" data-eva="activity"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card">
              <svg class="rounded-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50">
                <rect width="100%" height="100%" fill="var(--neutral)"></rect>
              </svg>
              <button class="btn btn-circle play" type="button">
                <i data-eva="arrow-right"></i>
              </button>
              <div class="card-body">
                <h5 class="mb-3">
                  <a href="#">Architect</a>
                </h5>
                <p>The quick brown fox jumps over the lazy dog.</p>
                <hr>
                <div class="d-flex">
                  <div class="d-flex mr-auto">
                    <span class="avatar avatar-sm mr-3 bg-info rounded-circle">jd</span>
                    <div>
                      <h6 class="mb-2 lh-100">
                        <a href="#">John Doe</a>
                      </h6>
                      <p class="lh-100">Manhattan</p>
                    </div>
                  </div>
                  <i class="eva-md align-self-center" data-eva="activity"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/eva-icons@1.1.2/eva.min.js" integrity="sha384-evc6xuruZOLSxcDYJOMhN4pnuWv2x1hHaVU9m0os+cvprT9Gg1sgClT+EM4n/ng9" crossorigin="anonymous"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
