<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Testimonials</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
</head>
<body>
  <main>
    <div class="py-11">
      <div class="container">
        <div class="text-center">
          <h2 class="mb-5 fw-700">Testimonials</h2>
          <p class="mb-11 h5">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-xl-4">
            <div class="card mb-5 mb-xl-0">
              <div class="card-body">
                <p>„The quick brown fox jumps over the lazy dog.“</p>
                <hr>
                <div class="d-flex">
                  <div class="d-flex mr-auto">
                    <a class="avatar avatar-md mr-3 h5 bg-primary rounded-circle" href="#">jd</a>
                    <div>
                      <h6 class="lh-150">
                        <a href="#">John Doe</a>
                      </h6>
                      <p>Manhattan</p>
                    </div>
                  </div>
                  <i class="eva-xl" data-eva="github" data-eva-animation="pulse"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="card mb-5 mb-xl-0">
              <div class="card-body">
                <p>„The quick brown fox jumps over the lazy dog.“</p>
                <hr>
                <div class="d-flex">
                  <div class="d-flex mr-auto">
                    <a class="avatar avatar-md mr-3 h5 bg-success rounded-circle" href="#">jd</a>
                    <div>
                      <h6 class="lh-150">
                        <a href="#">John Doe</a>
                      </h6>
                      <p>Manhattan</p>
                    </div>
                  </div>
                  <i class="eva-xl" data-eva="github" data-eva-animation="pulse"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card">
              <div class="card-body">
                <p>„The quick brown fox jumps over the lazy dog.“</p>
                <hr>
                <div class="d-flex">
                  <div class="d-flex mr-auto">
                    <a class="avatar avatar-md mr-3 h5 bg-info rounded-circle" href="#">jd</a>
                    <div>
                      <h6 class="lh-150">
                        <a href="#">John Doe</a>
                      </h6>
                      <p>Manhattan</p>
                    </div>
                  </div>
                  <i class="eva-xl" data-eva="github" data-eva-animation="pulse"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/eva-icons@1.1.1/eva.min.js" integrity="sha384-m76M9FZUsYkrBUkI7xVlheH3b+8fhrmj3NW/7DRvtsjYv+vvwft9NB/rilorriCM" crossorigin="anonymous"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
