<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Testimonials</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">
</head>
<body>
  <main>
    <div class="py-11">
      <div class="container">
        <div class="mx-auto text-center" style="max-width: 468px;">
          <h1 class="mb-5 fs-xl font-weight-bold">Testimonials</h1>
          <p class="mb-11" style="font-size: 1.125rem;">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <p>„The quick brown fox jumps over the lazy dog.“</p>
                <hr role="presentation">
                <div class="d-flex">
                  <span class="d-inline-flex align-items-center justify-content-center mr-3 text-white text-uppercase bg-primary rounded-circle" style="width: 3rem; height: 3rem; font-size: 1.125rem;">jd</span>
                  <div>
                    <h2 class="fs-xs lh-lg">
                      <a href="#">John Doe</a>
                    </h2>
                    <p>Manhattan</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <p>„The quick brown fox jumps over the lazy dog.“</p>
                <hr role="presentation">
                <div class="d-flex">
                  <span class="d-inline-flex align-items-center justify-content-center mr-3 text-white text-uppercase bg-success rounded-circle" style="width: 3rem; height: 3rem; font-size: 1.125rem;">jd</span>
                  <div>
                    <h2 class="fs-xs lh-lg">
                      <a href="#">John Doe</a>
                    </h2>
                    <p>Manhattan</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <p>„The quick brown fox jumps over the lazy dog.“</p>
                <hr role="presentation">
                <div class="d-flex">
                  <span class="d-inline-flex align-items-center justify-content-center mr-3 text-white text-uppercase bg-info rounded-circle" style="width: 3rem; height: 3rem; font-size: 1.125rem;">jd</span>
                  <div>
                    <h2 class="fs-xs lh-lg">
                      <a href="#">John Doe</a>
                    </h2>
                    <p>Manhattan</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>
