<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Accordion</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-AKT9MKPmIq4VMihDqOB6HeDHSsXGyf92WHPCSwHAZPIVJpD8Jv6dmfTLZeLDvV4O" crossorigin="anonymous">
</head>
<body>
  <main>
    <div class="py-11 mx-auto" style="max-width: 720px;">
      <div class="container">
        <div class="text-center">
          <h2 class="mb-5 fw-700">Accordion</h2>
          <p class="mb-11 h5">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="accordion mb-5" id="accordionOne">
          <div class="accordion-item">
            <div class="accordion-header">
              <div class="mr-auto">
                <h6 class="mb-1 lh-150">Accordion</h6>
                <p>The quick brown fox jumps over the lazy dog.</p>
              </div>
              <span class="badge badge-pill d-none d-sm-inline-block text-uppercase bg-neutral">q/a</span>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
              <h6 class="mr-auto lh-150">The quick brown fox jumps over the lazy dog.</h6>
              <p class="d-none d-md-block mr-3">Updated yesterday</p>
              <i data-eva="arrow-ios-forward"></i>
              <i data-eva="arrow-ios-downward"></i>
            </div>
            <div class="collapse" id="collapseOne" data-parent="#accordionOne" aria-labelledby="headingOne">
              <div class="accordion-body">
                <p>The quick brown fox jumps over the lazy dog.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
              <h6 class="mr-auto lh-150">The quick brown fox jumps over the lazy dog.</h6>
              <p class="d-none d-md-block mr-3">Updated last week</p>
              <i data-eva="arrow-ios-forward"></i>
              <i data-eva="arrow-ios-downward"></i>
            </div>
            <div class="collapse" id="collapseTwo" data-parent="#accordionOne" aria-labelledby="headingTwo">
              <div class="accordion-body">
                <p>The quick brown fox jumps over the lazy dog.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
              <h6 class="mr-auto lh-150">The quick brown fox jumps over the lazy dog.</h6>
              <p class="d-none d-md-block mr-3">Updated last month</p>
              <i data-eva="arrow-ios-forward"></i>
              <i data-eva="arrow-ios-downward"></i>
            </div>
            <div class="collapse" id="collapseThree" data-parent="#accordionOne" aria-labelledby="headingThree">
              <div class="accordion-body">
                <p>The quick brown fox jumps over the lazy dog.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/eva-icons@1.1.2/eva.min.js" integrity="sha384-evc6xuruZOLSxcDYJOMhN4pnuWv2x1hHaVU9m0os+cvprT9Gg1sgClT+EM4n/ng9" crossorigin="anonymous"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
