<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Accordion</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-bkV/AssUyv83vA3BCj2g2Nn7rv1tW1gkXC1CPrFj0v9QP2WDMho6tbf18S99RNeT" crossorigin="anonymous">
</head>
<body>
  <main>
    <div class="py-11 mx-auto" style="max-width: 720px;">
      <div class="container">
        <div class="text-center">
          <h2 class="mb-5 font-weight-bold">Accordion</h2>
          <p class="mb-11 lead">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="accordion" id="accordionOne">
          <div class="accordion-item">
            <div class="accordion-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
              <div class="mr-auto">
                <h3 class="mb-1 fs-xxs lh-lg">Accordion</h3>
                <p>The quick brown fox jumps over the lazy dog.</p>
              </div>
              <svg class="gi gi-arrow-ios-forward fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/>
              </svg>
              <svg class="gi gi-arrow-ios-downward fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/>
              </svg>
            </div>
            <div class="collapse" id="collapseOne" data-parent="#accordionOne" aria-labelledby="headingOne">
              <div class="accordion-body">
                <p>The quick brown fox jumps over the lazy dog.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
              <div class="mr-auto">
                <h3 class="mb-1 fs-xxs lh-lg">Accordion</h3>
                <p>The quick brown fox jumps over the lazy dog.</p>
              </div>
              <svg class="gi gi-arrow-ios-forward fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/>
              </svg>
              <svg class="gi gi-arrow-ios-downward fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/>
              </svg>
            </div>
            <div class="collapse" id="collapseTwo" data-parent="#accordionOne" aria-labelledby="headingTwo">
              <div class="accordion-body">
                <p>The quick brown fox jumps over the lazy dog.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
              <div class="mr-auto">
                <h3 class="mb-1 fs-xxs lh-lg">Accordion</h3>
                <p>The quick brown fox jumps over the lazy dog.</p>
              </div>
              <svg class="gi gi-arrow-ios-forward fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/>
              </svg>
              <svg class="gi gi-arrow-ios-downward fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/>
              </svg>
            </div>
            <div class="collapse" id="collapseThree" data-parent="#accordionOne" aria-labelledby="headingThree">
              <div class="accordion-body">
                <p>The quick brown fox jumps over the lazy dog.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>
