<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dropzone</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="dropzone.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-Mujw/rYMLaAmNKgBlyiHh/Vc+p4UU7I/lfQl/X4pICrFJguheK7vZjZmZyTix1HM" crossorigin="anonymous">
</head>
<body>
  <main>
    <div class="py-11 mx-auto" style="max-width: 720px;">
      <div class="container">
        <label class="w-100">
          <input class="d-none" type="file">
          <span class="dropzone">Select or drag & drop your files for upload</span>
        </label>
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <svg class="gi gi-file-text-fill fs-xs" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.74 7.33l-4.44-5a1 1 0 0 0-.74-.33h-8A2.53 2.53 0 0 0 4 4.5v15A2.53 2.53 0 0 0 6.56 22h10.88A2.53 2.53 0 0 0 20 19.5V8a1 1 0 0 0-.26-.67zM9 12h3a1 1 0 0 1 0 2H9a1 1 0 0 1 0-2zm6 6H9a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2zm-.29-10a.79.79 0 0 1-.71-.85V4l3.74 4z"/>
              </svg>
            </span>
            <span class="avatar avatar-sm bg-primary mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h2 class="mb-2 fs-xxs lh-sm">
                <a href="#">file.txt</a>
              </h2>
              <p class="lh-sm">8kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <svg class="gi gi-more-vertical fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="2"/>
                  <circle cx="12" cy="5" r="2"/>
                  <circle cx="12" cy="19" r="2"/>
                </svg>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <svg class="gi gi-file-text-fill fs-xs" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.74 7.33l-4.44-5a1 1 0 0 0-.74-.33h-8A2.53 2.53 0 0 0 4 4.5v15A2.53 2.53 0 0 0 6.56 22h10.88A2.53 2.53 0 0 0 20 19.5V8a1 1 0 0 0-.26-.67zM9 12h3a1 1 0 0 1 0 2H9a1 1 0 0 1 0-2zm6 6H9a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2zm-.29-10a.79.79 0 0 1-.71-.85V4l3.74 4z"/>
              </svg>
            </span>
            <span class="avatar avatar-sm bg-success mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h2 class="mb-2 fs-xxs lh-sm">
                <a href="#">file.txt</a>
              </h2>
              <p class="lh-sm">16kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <svg class="gi gi-more-vertical fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="2"/>
                  <circle cx="12" cy="5" r="2"/>
                  <circle cx="12" cy="19" r="2"/>
                </svg>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <svg class="gi gi-file-text-fill fs-xs" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.74 7.33l-4.44-5a1 1 0 0 0-.74-.33h-8A2.53 2.53 0 0 0 4 4.5v15A2.53 2.53 0 0 0 6.56 22h10.88A2.53 2.53 0 0 0 20 19.5V8a1 1 0 0 0-.26-.67zM9 12h3a1 1 0 0 1 0 2H9a1 1 0 0 1 0-2zm6 6H9a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2zm-.29-10a.79.79 0 0 1-.71-.85V4l3.74 4z"/>
              </svg>
            </span>
            <span class="avatar avatar-sm bg-info mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h2 class="mb-2 fs-xxs lh-sm">
                <a href="#">file.txt</a>
              </h2>
              <p class="lh-sm">24kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <svg class="gi gi-more-vertical fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="2"/>
                  <circle cx="12" cy="5" r="2"/>
                  <circle cx="12" cy="19" r="2"/>
                </svg>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <svg class="gi gi-file-text-fill fs-xs" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.74 7.33l-4.44-5a1 1 0 0 0-.74-.33h-8A2.53 2.53 0 0 0 4 4.5v15A2.53 2.53 0 0 0 6.56 22h10.88A2.53 2.53 0 0 0 20 19.5V8a1 1 0 0 0-.26-.67zM9 12h3a1 1 0 0 1 0 2H9a1 1 0 0 1 0-2zm6 6H9a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2zm-.29-10a.79.79 0 0 1-.71-.85V4l3.74 4z"/>
              </svg>
            </span>
            <span class="avatar avatar-sm bg-warning mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h2 class="mb-2 fs-xxs lh-sm">
                <a href="#">file.txt</a>
              </h2>
              <p class="lh-sm">32kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <svg class="gi gi-more-vertical fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="2"/>
                  <circle cx="12" cy="5" r="2"/>
                  <circle cx="12" cy="19" r="2"/>
                </svg>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <svg class="gi gi-file-text-fill fs-xs" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.74 7.33l-4.44-5a1 1 0 0 0-.74-.33h-8A2.53 2.53 0 0 0 4 4.5v15A2.53 2.53 0 0 0 6.56 22h10.88A2.53 2.53 0 0 0 20 19.5V8a1 1 0 0 0-.26-.67zM9 12h3a1 1 0 0 1 0 2H9a1 1 0 0 1 0-2zm6 6H9a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2zm-.29-10a.79.79 0 0 1-.71-.85V4l3.74 4z"/>
              </svg>
            </span>
            <span class="avatar avatar-sm bg-danger mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h2 class="mb-2 fs-xxs lh-sm">
                <a href="#">file.txt</a>
              </h2>
              <p class="lh-sm">40kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <svg class="gi gi-more-vertical fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="2"/>
                  <circle cx="12" cy="5" r="2"/>
                  <circle cx="12" cy="19" r="2"/>
                </svg>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <svg class="gi gi-file-text-fill fs-xs" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.74 7.33l-4.44-5a1 1 0 0 0-.74-.33h-8A2.53 2.53 0 0 0 4 4.5v15A2.53 2.53 0 0 0 6.56 22h10.88A2.53 2.53 0 0 0 20 19.5V8a1 1 0 0 0-.26-.67zM9 12h3a1 1 0 0 1 0 2H9a1 1 0 0 1 0-2zm6 6H9a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2zm-.29-10a.79.79 0 0 1-.71-.85V4l3.74 4z"/>
              </svg>
            </span>
            <span class="avatar avatar-sm bg-primary mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h2 class="mb-2 fs-xxs lh-sm">
                <a href="#">file.txt</a>
              </h2>
              <p class="lh-sm">48kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <svg class="gi gi-more-vertical fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="2"/>
                  <circle cx="12" cy="5" r="2"/>
                  <circle cx="12" cy="19" r="2"/>
                </svg>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <svg class="gi gi-file-text-fill fs-xs" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.74 7.33l-4.44-5a1 1 0 0 0-.74-.33h-8A2.53 2.53 0 0 0 4 4.5v15A2.53 2.53 0 0 0 6.56 22h10.88A2.53 2.53 0 0 0 20 19.5V8a1 1 0 0 0-.26-.67zM9 12h3a1 1 0 0 1 0 2H9a1 1 0 0 1 0-2zm6 6H9a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2zm-.29-10a.79.79 0 0 1-.71-.85V4l3.74 4z"/>
              </svg>
            </span>
            <span class="avatar avatar-sm bg-success mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h2 class="mb-2 fs-xxs lh-sm">
                <a href="#">file.txt</a>
              </h2>
              <p class="lh-sm">56kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <svg class="gi gi-more-vertical fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="2"/>
                  <circle cx="12" cy="5" r="2"/>
                  <circle cx="12" cy="19" r="2"/>
                </svg>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <svg class="gi gi-file-text-fill fs-xs" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.74 7.33l-4.44-5a1 1 0 0 0-.74-.33h-8A2.53 2.53 0 0 0 4 4.5v15A2.53 2.53 0 0 0 6.56 22h10.88A2.53 2.53 0 0 0 20 19.5V8a1 1 0 0 0-.26-.67zM9 12h3a1 1 0 0 1 0 2H9a1 1 0 0 1 0-2zm6 6H9a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2zm-.29-10a.79.79 0 0 1-.71-.85V4l3.74 4z"/>
              </svg>
            </span>
            <span class="avatar avatar-sm bg-info mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h2 class="mb-2 fs-xxs lh-sm">
                <a href="#">file.txt</a>
              </h2>
              <p class="lh-sm">64kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <svg class="gi gi-more-vertical fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="2"/>
                  <circle cx="12" cy="5" r="2"/>
                  <circle cx="12" cy="19" r="2"/>
                </svg>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>
