<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dropzone</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="dropzone.min.css">
</head>
<body>
  <main>
    <div class="py-11 mx-auto" style="max-width: 720px;">
      <div class="container">
        <label class="w-100">
          <input class="d-none" type="file">
          <span class="dropzone">Select or drag & drop your files for upload</span>
        </label>
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <i data-eva="file-text" data-eva-width="20" data-eva-height="20"></i>
            </span>
            <span class="avatar avatar-sm bg-primary mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h6 class="mb-2 lh-100">
                <a href="#">text</a>
              </h6>
              <p class="lh-100">8kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <i data-eva="more-vertical"></i>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <i data-eva="image-2" data-eva-width="20" data-eva-height="20"></i>
            </span>
            <span class="avatar avatar-sm bg-success mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h6 class="mb-2 lh-100">
                <a href="#">image</a>
              </h6>
              <p class="lh-100">16kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <i data-eva="more-vertical"></i>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <i data-eva="film" data-eva-width="20" data-eva-height="20"></i>
            </span>
            <span class="avatar avatar-sm bg-info mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h6 class="mb-2 lh-100">
                <a href="#">video</a>
              </h6>
              <p class="lh-100">24kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <i data-eva="more-vertical"></i>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <i data-eva="folder" data-eva-width="20" data-eva-height="20"></i>
            </span>
            <span class="avatar avatar-sm bg-warning mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h6 class="mb-2 lh-100">
                <a href="#">folder</a>
              </h6>
              <p class="lh-100">32kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <i data-eva="more-vertical"></i>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <i data-eva="archive" data-eva-width="20" data-eva-height="20"></i>
            </span>
            <span class="avatar avatar-sm bg-danger mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h6 class="mb-2 lh-100">
                <a href="#">archive</a>
              </h6>
              <p class="lh-100">40kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <i data-eva="more-vertical"></i>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <i data-eva="file-text" data-eva-width="20" data-eva-height="20"></i>
            </span>
            <span class="avatar avatar-sm bg-primary mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h6 class="mb-2 lh-100">
                <a href="#">text</a>
              </h6>
              <p class="lh-100">48kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <i data-eva="more-vertical"></i>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <i data-eva="image-2" data-eva-width="20" data-eva-height="20"></i>
            </span>
            <span class="avatar avatar-sm bg-success mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h6 class="mb-2 lh-100">
                <a href="#">image</a>
              </h6>
              <p class="lh-100">56kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <i data-eva="more-vertical"></i>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body d-flex align-items-center">
            <span class="icon bg-neutral border rounded-circle">
              <i data-eva="film" data-eva-width="20" data-eva-height="20"></i>
            </span>
            <span class="avatar avatar-sm bg-info mr-3 ml-n3 border rounded-circle">jd</span>
            <div class="mr-auto">
              <h6 class="mb-2 lh-100">
                <a href="#">video</a>
              </h6>
              <p class="lh-100">64kb</p>
            </div>
            <div class="dropdown">
              <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                <i data-eva="more-vertical"></i>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/eva-icons@1.1.1/eva.min.js" integrity="sha384-m76M9FZUsYkrBUkI7xVlheH3b+8fhrmj3NW/7DRvtsjYv+vvwft9NB/rilorriCM" crossorigin="anonymous"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
