<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Jumbotron</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg">
          <div class="text-center text-lg-left">
            <h2 class="mb-5 fw-800">Jumbotron</h2>
            <p class="mb-5 h5">The quick brown fox jumps over the lazy dog.</p>
            <a class="btn btn-lg btn-primary w-sm-100" href="#">Go somewhere</a>
          </div>
        </div>
        <div class="col-lg">
          <svg class="d-none d-lg-inline rounded" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50">
            <rect width="100%" height="100%" fill="var(--neutral)"></rect>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <script src="../../../dist/js/jquery-slim.min.js"></script>
  <script src="../../../dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../../dist/js/eva.min.js"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
