<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Navbar</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a rel="home" href="#">
        <i class="eva-xl" data-eva="grayshift" data-eva-animation="pulse"></i>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
        <i class="eva-md" data-eva="menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="navbar-item active">
            <a class="navbar-link" href="#">
              Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="#">Link</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          <li class="navbar-item dropdown">
            <a class="navbar-link" id="navbarDropdownOne" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<i class="eva-xs ml-1 align-text-top" data-eva="arrow-down"></i></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownOne">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>
        </ul>
        <form>
          <div class="input-group mr-lg-5 mb-5 mb-lg-0">
            <div class="input-group-prepend">
              <i data-eva="search"></i>
            </div>
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          </div>
        </form>
        <div class="dropdown">
          <button class="btn btn-primary avatar avatar-md status status-online h5 fw-500 rounded-circle" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">jd</button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <script src="../../../dist/js/jquery-slim.min.js"></script>
  <script src="../../../dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../../dist/js/eva.min.js"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
