<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Navside</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
</head>
<body>
  <nav class="navside navside-expand-lg sticky-top">
    <div class="container">
      <a rel="home" href="#">
        <i class="eva-xl" data-eva="grayshift" data-eva-animation="pulse"></i>
      </a>
      <button class="navside-toggler" data-toggle="collapse" data-target="#navsideSupportedContent" type="button" aria-controls="navsideSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
        <i class="eva-md" data-eva="menu"></i>
      </button>
      <div class="collapse navside-collapse" id="navsideSupportedContent">
        <ul class="navside-nav">
          <li class="navside-item active">
            <a class="navside-link" href="#">
              Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="navside-item">
            <a class="navside-link" href="#" tabindex="-1" aria-disabled="true">Link</a>
          </li>
          <li class="navside-item">
            <a class="navside-link disabled" href="#">Disabled</a>
          </li>
          <li class="navside-item dropdown">
            <a class="navside-link" id="navsideDropdownOne" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Dropdown
              <i class="eva-xs" data-eva="arrow-right"></i><i class="eva-xs" data-eva="arrow-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navsideDropdownOne">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>
        </ul>
        <hr class="w-100">
        <h6 class="mb-5">Quick Links</h6>
        <ul class="list-unstyled">
          <li class="mb-3">
            <a class="d-flex align-items-center fw-500 text-body" href="#">
              <i class="eva-xs eva-primary mr-2" data-eva="radio-button-on"></i>
              Github
            </a>
          </li>
          <li class="mb-3">
            <a class="d-flex align-items-center fw-500 text-body" href="#">
              <i class="eva-xs eva-success mr-2" data-eva="radio-button-on"></i>
              Dribbble
            </a>
          </li>
          <li>
            <a class="d-flex align-items-center fw-500 text-body" href="#">
              <i class="eva-xs eva-info mr-2" data-eva="radio-button-on"></i>
              Behance
            </a>
          </li>
        </ul>
        <hr class="w-100">
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <i data-eva="search"></i>
            </div>
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          </div>
        </form>
        <div class="dropdown flex-lg-grow-1 w-100 mb-5">
          <button class="btn btn-block btn-sm btn-primary" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Dropdown<i class="eva-xs eva-white ml-1 align-text-top" data-eva="arrow-down"></i></button>
          <div class="dropdown-menu">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
          </div>
        </div>
        <div class="dropdown w-100">
          <button class="btn btn-primary avatar avatar-md status status-online h5 fw-500 rounded-circle" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">jd</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <script src="../../../dist/js/jquery-slim.min.js"></script>
  <script src="../../../dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../../dist/js/eva.min.js"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
