<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Footer</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
</head>
<body>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <h6 class="mb-5">Heading</h6>
          <ul class="list-unstyled mb-7">
            <li class="mb-3">
              <a class="text-body" href="#">Link</a>
            </li>
            <li class="mb-3">
              <a class="text-body" href="#">Link</a>
            </li>
            <li class="mb-3">
              <a class="text-body" href="#">Link</a>
            </li>
            <li>
              <a class="text-body" href="#">Link</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3">
          <h6 class="mb-5">Heading</h6>
          <ul class="list-unstyled mb-7">
            <li class="mb-3">
              <a class="text-body" href="#">Link</a>
            </li>
            <li class="mb-3">
              <a class="text-body" href="#">Link</a>
            </li>
            <li>
              <a class="text-body" href="#">Link</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3">
          <h6 class="mb-5">Heading</h6>
          <ul class="list-unstyled mb-7">
            <li class="mb-3">
              <a class="text-body" href="#">Link</a>
            </li>
            <li>
              <a class="text-body" href="#">Link</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 mb-7">
          <a href="#">
            <i class="eva-xl" data-eva="grayshift" data-eva-animation="pulse"></i>
          </a>
          <p class="my-5">The quick brown fox jumps over the lazy dog.</p>
          <div class="d-flex">
            <a class="btn btn-circle btn-neutral mr-3" href="#">
              <i data-eva="twitter"></i>
            </a>
            <a class="btn btn-circle btn-neutral mr-3" href="#">
              <i data-eva="linkedin"></i>
            </a>
            <a class="btn btn-circle btn-neutral" href="#">
              <i data-eva="facebook"></i>
            </a>
          </div>
        </div>
      </div>
      <p class="mt-6 text-center">The quick brown fox jumps over the lazy dog.</p>
      <hr class="mb-0">
      <div class="py-6">
        <div class="row">
          <div class="col-md mb-5 mb-md-0">
            <p class="text-center text-md-left">© 2019 Grayshift, Inc.</p>
          </div>
          <div class="col-md">
            <ul class="list-unstyled d-flex flex-wrap justify-content-center justify-content-md-end">
              <li>
                <a class="text-body" href="#">Link</a>
              </li>
              <li class="ml-5">
                <a class="text-body" href="#">Link</a>
              </li>
              <li class="ml-5">
                <a class="text-body" href="#">Link</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="../../../dist/js/jquery-slim.min.js"></script>
  <script src="../../../dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../../dist/js/eva.min.js"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
