<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Footer</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-AKT9MKPmIq4VMihDqOB6HeDHSsXGyf92WHPCSwHAZPIVJpD8Jv6dmfTLZeLDvV4O" crossorigin="anonymous">
</head>
<body>
  <footer class="card pt-11 rounded-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <h2 class="mb-5 fs-xxs">Heading</h2>
          <ul class="list-unstyled mb-5">
            <li class="mb-3">
              <a class="link-body" href="#">Link</a>
            </li>
            <li class="mb-3">
              <a class="link-body" href="#">Link</a>
            </li>
            <li class="mb-3">
              <a class="link-body" href="#">Link</a>
            </li>
            <li>
              <a class="link-body" href="#">Link</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3">
          <h2 class="mb-5 fs-xxs">Heading</h2>
          <ul class="list-unstyled mb-5">
            <li class="mb-3">
              <a class="link-body" href="#">Link</a>
            </li>
            <li class="mb-3">
              <a class="link-body" href="#">Link</a>
            </li>
            <li>
              <a class="link-body" href="#">Link</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3">
          <h2 class="mb-5 fs-xxs">Heading</h2>
          <ul class="list-unstyled mb-5">
            <li class="mb-3">
              <a class="link-body" href="#">Link</a>
            </li>
            <li>
              <a class="link-body" href="#">Link</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 mb-11">
          <a class="link-body" href="#">
            <i class="gi-animation-hover">
              <svg class="gi gi-github-fill gi-animation gi-animation-hover-pulse fs-xxl" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 1A10.89 10.89 0 0 0 1 11.77 10.79 10.79 0 0 0 8.52 22c.55.1.75-.23.75-.52v-1.83c-3.06.65-3.71-1.44-3.71-1.44a2.86 2.86 0 0 0-1.22-1.58c-1-.66.08-.65.08-.65a2.31 2.31 0 0 1 1.68 1.11 2.37 2.37 0 0 0 3.2.89 2.33 2.33 0 0 1 .7-1.44c-2.44-.27-5-1.19-5-5.32a4.15 4.15 0 0 1 1.11-2.91 3.78 3.78 0 0 1 .11-2.84s.93-.29 3 1.1a10.68 10.68 0 0 1 5.5 0c2.1-1.39 3-1.1 3-1.1a3.78 3.78 0 0 1 .11 2.84A4.15 4.15 0 0 1 19 11.2c0 4.14-2.58 5.05-5 5.32a2.5 2.5 0 0 1 .75 2v2.95c0 .35.2.63.75.52A10.8 10.8 0 0 0 23 11.77 10.89 10.89 0 0 0 12 1"/>
              </svg>
            </i>
          </a>
          <p class="my-5">The quick brown fox jumps over the lazy dog.</p>
          <ul class="list-unstyled d-flex">
            <li class="mr-3">
              <a class="btn btn-circle btn-neutral" href="#">
                <svg class="gi gi-twitter-fill fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.08 20A11.07 11.07 0 0 0 19.52 9 8.09 8.09 0 0 0 21 6.16a.44.44 0 0 0-.62-.51 1.88 1.88 0 0 1-2.16-.38 3.89 3.89 0 0 0-5.58-.17A4.13 4.13 0 0 0 11.49 9C8.14 9.2 5.84 7.61 4 5.43a.43.43 0 0 0-.75.24 9.68 9.68 0 0 0 4.6 10.05A6.73 6.73 0 0 1 3.38 18a.45.45 0 0 0-.14.84A11 11 0 0 0 8.08 20"/>
                </svg>
              </a>
            </li>
            <li class="mr-3">
              <a class="btn btn-circle btn-neutral" href="#">
                <svg class="gi gi-linkedin-fill fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.15 8.4a5.83 5.83 0 0 0-5.85 5.82v5.88a.9.9 0 0 0 .9.9h2.1a.9.9 0 0 0 .9-.9v-5.88a1.94 1.94 0 0 1 2.15-1.93 2 2 0 0 1 1.75 2v5.81a.9.9 0 0 0 .9.9h2.1a.9.9 0 0 0 .9-.9v-5.88a5.83 5.83 0 0 0-5.85-5.82z"/>
                  <rect x="3" y="9.3" width="4.5" height="11.7" rx=".9" ry=".9"/>
                  <circle cx="5.25" cy="5.25" r="2.25"/>
                </svg>
              </a>
            </li>
            <li>
              <a class="btn btn-circle btn-neutral" href="#">
                <svg class="gi gi-facebook-fill fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 3.5a.5.5 0 0 0-.5-.5H14a4.77 4.77 0 0 0-5 4.5v2.7H6.5a.5.5 0 0 0-.5.5v2.6a.5.5 0 0 0 .5.5H9v6.7a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-6.7h2.62a.5.5 0 0 0 .49-.37l.72-2.6a.5.5 0 0 0-.48-.63H13V7.5a1 1 0 0 1 1-.9h2.5a.5.5 0 0 0 .5-.5z"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <p class="text-center">The quick brown fox jumps over the lazy dog.</p>
      <hr class="mb-0">
      <div class="py-6">
        <div class="row">
          <div class="col-md mb-5 mb-md-0">
            <p class="text-center text-md-left">© 2019 Grayshift</p>
          </div>
          <div class="col-md">
            <ul class="list-unstyled d-flex flex-wrap justify-content-center justify-content-md-end">
              <li>
                <a class="link-body" href="#">Link</a>
              </li>
              <li class="ml-5">
                <a class="link-body" href="#">Link</a>
              </li>
              <li class="ml-5">
                <a class="link-body" href="#">Link</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>
