<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Navbar</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-AKT9MKPmIq4VMihDqOB6HeDHSsXGyf92WHPCSwHAZPIVJpD8Jv6dmfTLZeLDvV4O" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a rel="home" href="#">
        <i class="eva-xl" data-eva="github" data-eva-animation="pulse"></i>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
        <i class="eva-md" data-eva="menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" id="navbarDropdownOne" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<i class="eva-xs ml-1 align-text-top" data-eva="arrow-down"></i></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownOne">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>
        </ul>
        <form>
          <div class="input-group mb-5 mr-lg-5 mb-lg-0">
            <div class="input-group-prepend">
              <i data-eva="search"></i>
            </div>
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          </div>
        </form>
        <div>
          <span class="avatar avatar-md h5 bg-primary rounded-circle">jd</span>
        </div>
      </div>
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/eva-icons@1.1.2/eva.min.js" integrity="sha384-evc6xuruZOLSxcDYJOMhN4pnuWv2x1hHaVU9m0os+cvprT9Gg1sgClT+EM4n/ng9" crossorigin="anonymous"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
