:root {
  --nav-bg: var(--white);
  --sidebar-bg: var(--light-100);
  --chat-bg: var(--light-200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --nav-bg: var(--dark-600);
    --sidebar-bg: var(--dark-500);
    --chat-bg: var(--dark-400);
  }
}

.navside {
  background-color: var(--nav-bg);
  box-shadow: var(--box-shadow);
}

.navside > .container,
.navside > .container-fluid {
  display: flex;
  padding-top: var(--spacer-3);
  padding-bottom: var(--spacer-3);
  text-align: center;
}

.navside-nav {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}

.navside-nav .nav-link.active,
.navside-nav .nav-link.show {
  color: var(--link-active-color);
}

@media (min-width: 576px) {
  .navside-expand-sm > .container,
  .navside-expand-sm > .container-fluid {
    flex-direction: column;
    height: 100vh;
    padding: var(--spacer-5);
  }
  .navside-expand-sm .navside-nav {
    flex-direction: column;
    margin-top: var(--spacer-5);
    margin-bottom: var(--spacer-5);
  }
  .navside-expand-sm .navside-nav .nav-item + .nav-item {
    margin-top: var(--spacer-5);
  }
}

@media (min-width: 768px) {
  .navside-expand-md > .container,
  .navside-expand-md > .container-fluid {
    flex-direction: column;
    height: 100vh;
    padding: var(--spacer-5);
  }
  .navside-expand-md .navside-nav {
    flex-direction: column;
    margin-top: var(--spacer-5);
    margin-bottom: var(--spacer-5);
  }
  .navside-expand-md .navside-nav .nav-item + .nav-item {
    margin-top: var(--spacer-5);
  }
}

@media (min-width: 992px) {
  .navside-expand-lg > .container,
  .navside-expand-lg > .container-fluid {
    flex-direction: column;
    height: 100vh;
    padding: var(--spacer-5);
  }
  .navside-expand-lg .navside-nav {
    flex-direction: column;
    margin-top: var(--spacer-5);
    margin-bottom: var(--spacer-5);
  }
  .navside-expand-lg .navside-nav .nav-item + .nav-item {
    margin-top: var(--spacer-5);
  }
}

@media (min-width: 1200px) {
  .navside-expand-xl > .container,
  .navside-expand-xl > .container-fluid {
    flex-direction: column;
    height: 100vh;
    padding: var(--spacer-5);
  }
  .navside-expand-xl .navside-nav {
    flex-direction: column;
    margin-top: var(--spacer-5);
    margin-bottom: var(--spacer-5);
  }
  .navside-expand-xl .navside-nav .nav-item + .nav-item {
    margin-top: var(--spacer-5);
  }
}

.sidebar {
  position: relative;
  height: calc(100vh - 64px);
  background-color: var(--sidebar-bg);
}

@media (min-width: 576px) {
  .sidebar-expand-sm {
    width: 348px;
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .sidebar-expand-md {
    width: 348px;
    height: 100vh;
  }
}

@media (min-width: 992px) {
  .sidebar-expand-lg {
    width: 348px;
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  .sidebar-expand-xl {
    width: 348px;
    height: 100vh;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: 3;
    width: 100%;
    visibility: hidden;
    transition-timing-function: ease;
    transition-duration: .4s;
    transition-property: visibility, transform;
  }
  @media (prefers-reduced-motion: reduce) {
    .offcanvas-collapse {
      transition: none;
    }
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.invisible-scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}
