<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Checkout</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-Mujw/rYMLaAmNKgBlyiHh/Vc+p4UU7I/lfQl/X4pICrFJguheK7vZjZmZyTix1HM" crossorigin="anonymous">
</head>
<body>
  <main>
    <div class="py-11">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="card mb-5">
              <div class="card-body">
                <h2 class="lead">Billing Address</h2>
                <hr>
                <form>
                  <div class="row">
                    <div class="col-sm">
                      <label for="firstName">First Name</label>
                      <input class="form-control form-control-lg mb-5" id="firstName" type="text" placeholder="First Name" required>
                    </div>
                    <div class="col-sm">
                      <label for="lastName">Last Name</label>
                      <input class="form-control form-control-lg mb-5" id="lastName" type="text" placeholder="Last Name" required>
                    </div>
                  </div>
                  <label for="address">Address</label>
                  <input class="form-control form-control-lg mb-5" id="address" type="text" placeholder="Address" required>
                  <div class="row">
                    <div class="col-sm">
                      <label for="country">Country</label>
                      <input class="form-control form-control-lg mb-5" id="country" type="text" placeholder="Country" required>
                    </div>
                    <div class="col-sm">
                      <label for="city">City</label>
                      <input class="form-control form-control-lg mb-5" id="city" type="text" placeholder="City" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <label for="postalCode">Postal Code</label>
                      <input class="form-control form-control-lg mb-5 mb-sm-0" id="postalCode" type="text" placeholder="Postal Code" required>
                    </div>
                    <div class="col-sm">
                      <label for="phone">Phone</label>
                      <input class="form-control form-control-lg" id="phone" type="text" placeholder="8888 8888 8888 8888" required>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h2 class="lead">Credit Card</h2>
                <hr>
                <form>
                  <label for="cardNumber">Card Number</label>
                  <div class="input-group mb-5">
                    <input class="form-control form-control-lg" id="cardNumber" type="text" placeholder="8888 8888 8888 8888" required>
                    <div class="input-group-append">
                      <svg class="gi gi-credit-card-fill fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 5H5a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3zm-8 10H7a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zm6 0h-2a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2zm3-6H4V8a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1z"/>
                      </svg>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="nameOnCard">Name on Card</label>
                      <input class="form-control form-control-lg mb-5 mb-md-0" id="nameOnCard" type="text" placeholder="John Doe" required>
                    </div>
                    <div class="col-md-3">
                      <label for="expiration">Expiration</label>
                      <input class="form-control form-control-lg mb-5 mb-md-0" id="expiration" type="text" placeholder="MM/YY" required>
                    </div>
                    <div class="col-md-3">
                      <label for="cvv">CVV</label>
                      <div class="input-group">
                        <input class="form-control form-control-lg" id="cvv" type="text" placeholder="888" required>
                        <div class="input-group-append">
                          <svg class="gi gi-question-mark-circle-fill fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 16a1 1 0 1 1 1-1 1 1 0 0 1-1 1zm1-5.16V14a1 1 0 0 1-2 0v-2a1 1 0 0 1 1-1 1.5 1.5 0 1 0-1.5-1.5 1 1 0 0 1-2 0 3.5 3.5 0 1 1 4.5 3.34z"/>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card sticky-top z-index-lower" style="top: 32px;">
              <div class="card-body">
                <h2 class="mb-5 lead">Cart</h2>
                <ul class="list-unstyled">
                  <li class="d-flex align-items-center mb-3">
                    Basic
                    <span class="badge ml-auto bg-neutral">$16</span>
                  </li>
                  <li class="d-flex align-items-center">
                    Fee
                    <span class="badge ml-auto bg-neutral">$8</span>
                  </li>
                </ul>
                <hr>
                <ul class="list-unstyled mb-5">
                  <li class="d-flex align-items-center">
                    Total
                    <span class="badge ml-auto bg-neutral">$24</span>
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <svg class="gi gi-pricetags-fill fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M21.47 11.58l-6.42-6.41a1 1 0 0 0-.61-.29L5.09 4a1 1 0 0 0-.8.29 1 1 0 0 0-.29.8l.88 9.35a1 1 0 0 0 .29.61l6.41 6.42a1.84 1.84 0 0 0 1.29.53 1.82 1.82 0 0 0 1.28-.53l7.32-7.32a1.82 1.82 0 0 0 0-2.57zm-9.91 0a1.5 1.5 0 1 1 0-2.12 1.49 1.49 0 0 1 0 2.1z"/>
                    </svg>
                  </div>
                  <input class="form-control form-control-lg" type="text" placeholder="Coupon">
                </div>
                <button class="btn btn-block btn-lg btn-primary" type="submit">Checkout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>
