<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Team</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-AKT9MKPmIq4VMihDqOB6HeDHSsXGyf92WHPCSwHAZPIVJpD8Jv6dmfTLZeLDvV4O" crossorigin="anonymous">
</head>
<body>
  <main>
    <div class="py-11">
      <div class="container">
        <div class="text-center">
          <h2 class="mb-5 fw-700">Team</h2>
          <p class="mb-11 h5">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body text-center">
                <span class="avatar avatar-md mb-3 h5 bg-primary rounded-circle">jd</span>
                <h6 class="mb-1">
                  <a href="#">John Doe</a>
                </h6>
                <p class="mb-3">Manhattan</p>
                <button class="btn btn-block btn-sm btn-primary" type="button">Follow</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body text-center">
                <span class="avatar avatar-md mb-3 h5 bg-success rounded-circle">jd</span>
                <h6 class="mb-1">
                  <a href="#">John Doe</a>
                </h6>
                <p class="mb-3">Manhattan</p>
                <button class="btn btn-block btn-sm btn-primary" type="button">Follow</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card mb-5 mb-sm-0">
              <div class="card-body text-center">
                <span class="avatar avatar-md mb-3 h5 bg-info rounded-circle">jd</span>
                <h6 class="mb-1">
                  <a href="#">John Doe</a>
                </h6>
                <p class="mb-3">Manhattan</p>
                <button class="btn btn-block btn-sm btn-primary" type="button">Follow</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card">
              <div class="card-body text-center">
                <span class="avatar avatar-md mb-3 h5 bg-warning rounded-circle">jd</span>
                <h6 class="mb-1">
                  <a href="#">John Doe</a>
                </h6>
                <p class="mb-3">Manhattan</p>
                <button class="btn btn-block btn-sm btn-primary" type="button">Follow</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/eva-icons@1.1.2/eva.min.js" integrity="sha384-evc6xuruZOLSxcDYJOMhN4pnuWv2x1hHaVU9m0os+cvprT9Gg1sgClT+EM4n/ng9" crossorigin="anonymous"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
