<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pricing</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-AKT9MKPmIq4VMihDqOB6HeDHSsXGyf92WHPCSwHAZPIVJpD8Jv6dmfTLZeLDvV4O" crossorigin="anonymous">
</head>
<body>
  <main>
    <div class="py-11">
      <div class="container">
        <div class="text-center">
          <h2 class="mb-5 font-weight-bold">Pricing</h2>
          <p class="mb-5 lead">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <ul class="nav nav-tabs nav-justified mx-auto mb-11" id="tablist" style="width: 264px;" role="tablist" aria-orientation="horizontal">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#threeColumn" role="tab" aria-controls="threeColumn" aria-selected="true">3 column</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#fourColumn" role="tab" aria-controls="fourColumn" aria-selected="false">4 column</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="threeColumn" role="tabpanel">
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="card mb-5 mb-lg-0">
                  <div class="card-body">
                    <div class="mb-5 text-center">
                      <span class="badge text-uppercase bg-neutral">Free</span>
                    </div>
                    <h3 class="d-flex justify-content-center mb-5 lh-sm text-primary" style="font-size: 3.5rem;">
                      <small class="font-weight-medium" style="font-size: 50%;">$</small>
                      0
                      <small class="align-self-end font-weight-medium" style="font-size: 40%;">/mo</small>
                    </h3>
                    <ul class="list-unstyled mb-5">
                      <li class="d-flex mb-3">
                        <svg class="gi gi-checkmark-circle-2-fill mr-3 fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.3 7.61l-4.57 6a1 1 0 0 1-.79.39 1 1 0 0 1-.79-.38l-2.44-3.11a1 1 0 0 1 1.58-1.23l1.63 2.08 3.78-5a1 1 0 1 1 1.6 1.22z"/>
                        </svg>
                        1 end product
                      </li>
                      <li class="d-flex">
                        <svg class="gi gi-close-circle-fill mr-3 fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm2.71 11.29a1 1 0 0 1 0 1.42 1 1 0 0 1-1.42 0L12 13.41l-1.29 1.3a1 1 0 0 1-1.42 0 1 1 0 0 1 0-1.42l1.3-1.29-1.3-1.29a1 1 0 0 1 1.42-1.42l1.29 1.3 1.29-1.3a1 1 0 0 1 1.42 1.42L13.41 12z"/>
                        </svg>
                        24/7 support
                      </li>
                    </ul>
                    <a class="btn btn-block btn-lg btn-primary" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card mb-5 mb-lg-0 bg-primary">
                  <div class="card-body">
                    <div class="mb-5 text-center">
                      <span class="badge text-primary text-uppercase bg-white">Small</span>
                    </div>
                    <h3 class="d-flex justify-content-center mb-5 lh-sm text-white" style="font-size: 3.5rem;">
                      <small class="font-weight-medium" style="font-size: 50%;">$</small>
                      8
                      <small class="align-self-end font-weight-medium" style="font-size: 40%;">/mo</small>
                    </h3>
                    <ul class="list-unstyled mb-5">
                      <li class="d-flex mb-3 text-muted">
                        <svg class="gi gi-checkmark-circle-2-fill mr-3 fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.3 7.61l-4.57 6a1 1 0 0 1-.79.39 1 1 0 0 1-.79-.38l-2.44-3.11a1 1 0 0 1 1.58-1.23l1.63 2.08 3.78-5a1 1 0 1 1 1.6 1.22z"/>
                        </svg>
                        2 end products
                      </li>
                      <li class="d-flex text-muted">
                        <svg class="gi gi-checkmark-circle-2-fill mr-3 fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.3 7.61l-4.57 6a1 1 0 0 1-.79.39 1 1 0 0 1-.79-.38l-2.44-3.11a1 1 0 0 1 1.58-1.23l1.63 2.08 3.78-5a1 1 0 1 1 1.6 1.22z"/>
                        </svg>
                        24/7 support
                      </li>
                    </ul>
                    <a class="btn btn-block btn-lg btn-white" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="mb-5 text-center">
                      <span class="badge text-uppercase bg-neutral">Medium</span>
                    </div>
                    <h3 class="d-flex justify-content-center mb-5 lh-sm text-primary" style="font-size: 3.5rem;">
                      <small class="font-weight-medium" style="font-size: 50%;">$</small>
                      16
                      <small class="align-self-end font-weight-medium" style="font-size: 40%;">/mo</small>
                    </h3>
                    <ul class="list-unstyled mb-5">
                      <li class="d-flex mb-3">
                        <svg class="gi gi-checkmark-circle-2-fill mr-3 fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.3 7.61l-4.57 6a1 1 0 0 1-.79.39 1 1 0 0 1-.79-.38l-2.44-3.11a1 1 0 0 1 1.58-1.23l1.63 2.08 3.78-5a1 1 0 1 1 1.6 1.22z"/>
                        </svg>
                        3 end products
                      </li>
                      <li class="d-flex">
                        <svg class="gi gi-checkmark-circle-2-fill mr-3 fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.3 7.61l-4.57 6a1 1 0 0 1-.79.39 1 1 0 0 1-.79-.38l-2.44-3.11a1 1 0 0 1 1.58-1.23l1.63 2.08 3.78-5a1 1 0 1 1 1.6 1.22z"/>
                        </svg>
                        24/7 support
                      </li>
                    </ul>
                    <a class="btn btn-block btn-lg btn-primary" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="fourColumn" role="tabpanel">
            <div class="row">
              <div class="col-md-6 col-xl-3">
                <div class="card mb-5 mb-xl-0">
                  <div class="card-body">
                    <div class="mb-5 text-center">
                      <span class="badge text-uppercase bg-neutral">Free</span>
                    </div>
                    <h3 class="d-flex justify-content-center mb-5 lh-sm text-primary" style="font-size: 3.5rem;">
                      <small class="font-weight-medium" style="font-size: 50%;">$</small>
                      0
                      <small class="align-self-end font-weight-medium" style="font-size: 40%;">/mo</small>
                    </h3>
                    <ul class="list-unstyled mb-5">
                      <li class="d-flex mb-3">
                        <svg class="gi gi-checkmark-circle-2-fill mr-3 fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.3 7.61l-4.57 6a1 1 0 0 1-.79.39 1 1 0 0 1-.79-.38l-2.44-3.11a1 1 0 0 1 1.58-1.23l1.63 2.08 3.78-5a1 1 0 1 1 1.6 1.22z"/>
                        </svg>
                        1 end product
                      </li>
                      <li class="d-flex">
                        <svg class="gi gi-close-circle-fill mr-3 fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm2.71 11.29a1 1 0 0 1 0 1.42 1 1 0 0 1-1.42 0L12 13.41l-1.29 1.3a1 1 0 0 1-1.42 0 1 1 0 0 1 0-1.42l1.3-1.29-1.3-1.29a1 1 0 0 1 1.42-1.42l1.29 1.3 1.29-1.3a1 1 0 0 1 1.42 1.42L13.41 12z"/>
                        </svg>
                        24/7 support
                      </li>
                    </ul>
                    <a class="btn btn-block btn-lg btn-primary" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="card mb-5 mb-xl-0 bg-primary">
                  <div class="card-body">
                    <div class="mb-5 text-center">
                      <span class="badge text-primary text-uppercase bg-white">Small</span>
                    </div>
                    <h3 class="d-flex justify-content-center mb-5 lh-sm text-white" style="font-size: 3.5rem;">
                      <small class="font-weight-medium" style="font-size: 50%;">$</small>
                      8
                      <small class="align-self-end font-weight-medium" style="font-size: 40%;">/mo</small>
                    </h3>
                    <ul class="list-unstyled mb-5">
                      <li class="d-flex mb-3 text-muted">
                        <svg class="gi gi-checkmark-circle-2-fill mr-3 fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.3 7.61l-4.57 6a1 1 0 0 1-.79.39 1 1 0 0 1-.79-.38l-2.44-3.11a1 1 0 0 1 1.58-1.23l1.63 2.08 3.78-5a1 1 0 1 1 1.6 1.22z"/>
                        </svg>
                        2 end products
                      </li>
                      <li class="d-flex text-muted">
                        <svg class="gi gi-checkmark-circle-2-fill mr-3 fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.3 7.61l-4.57 6a1 1 0 0 1-.79.39 1 1 0 0 1-.79-.38l-2.44-3.11a1 1 0 0 1 1.58-1.23l1.63 2.08 3.78-5a1 1 0 1 1 1.6 1.22z"/>
                        </svg>
                        24/7 support
                      </li>
                    </ul>
                    <a class="btn btn-block btn-lg btn-white" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="card mb-5 mb-md-0">
                  <div class="card-body">
                    <div class="mb-5 text-center">
                      <span class="badge text-uppercase bg-neutral">Medium</span>
                    </div>
                    <h3 class="d-flex justify-content-center mb-5 lh-sm text-primary" style="font-size: 3.5rem;">
                      <small class="font-weight-medium" style="font-size: 50%;">$</small>
                      16
                      <small class="align-self-end font-weight-medium" style="font-size: 40%;">/mo</small>
                    </h3>
                    <ul class="list-unstyled mb-5">
                      <li class="d-flex mb-3">
                        <svg class="gi gi-checkmark-circle-2-fill mr-3 fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.3 7.61l-4.57 6a1 1 0 0 1-.79.39 1 1 0 0 1-.79-.38l-2.44-3.11a1 1 0 0 1 1.58-1.23l1.63 2.08 3.78-5a1 1 0 1 1 1.6 1.22z"/>
                        </svg>
                        3 end products
                      </li>
                      <li class="d-flex">
                        <svg class="gi gi-checkmark-circle-2-fill mr-3 fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.3 7.61l-4.57 6a1 1 0 0 1-.79.39 1 1 0 0 1-.79-.38l-2.44-3.11a1 1 0 0 1 1.58-1.23l1.63 2.08 3.78-5a1 1 0 1 1 1.6 1.22z"/>
                        </svg>
                        24/7 support
                      </li>
                    </ul>
                    <a class="btn btn-block btn-lg btn-primary" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="card">
                  <div class="card-body">
                    <div class="mb-5 text-center">
                      <span class="badge text-uppercase bg-neutral">Large</span>
                    </div>
                    <h3 class="d-flex justify-content-center mb-5 lh-sm text-primary" style="font-size: 3.5rem;">
                      <small class="font-weight-medium" style="font-size: 50%;">$</small>
                      24
                      <small class="align-self-end font-weight-medium" style="font-size: 40%;">/mo</small>
                    </h3>
                    <ul class="list-unstyled mb-5">
                      <li class="d-flex mb-3">
                        <svg class="gi gi-checkmark-circle-2-fill mr-3 fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.3 7.61l-4.57 6a1 1 0 0 1-.79.39 1 1 0 0 1-.79-.38l-2.44-3.11a1 1 0 0 1 1.58-1.23l1.63 2.08 3.78-5a1 1 0 1 1 1.6 1.22z"/>
                        </svg>
                        4 end products
                      </li>
                      <li class="d-flex">
                        <svg class="gi gi-checkmark-circle-2-fill mr-3 fs-sm" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.3 7.61l-4.57 6a1 1 0 0 1-.79.39 1 1 0 0 1-.79-.38l-2.44-3.11a1 1 0 0 1 1.58-1.23l1.63 2.08 3.78-5a1 1 0 1 1 1.6 1.22z"/>
                        </svg>
                        24/7 support
                      </li>
                    </ul>
                    <a class="btn btn-block btn-lg btn-primary" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>
