<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pricing</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
</head>
<body>
  <main>
    <div class="py-11">
      <div class="container">
        <div class="text-center">
          <h2 class="mb-5 fw-700">Pricing</h2>
          <p class="mb-5 h5">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <ul class="nav nav-tabs nav-justified mb-11 mx-auto" id="tablist" style="width: 264px;" role="tablist" aria-orientation="horizontal">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#threeColumn" role="tab" aria-controls="threeColumn" aria-selected="true">3 column</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#fourColumn" role="tab" aria-controls="fourColumn" aria-selected="false">4 column</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="threeColumn" role="tabpanel">
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="card mb-5 mb-lg-0">
                  <div class="card-body">
                    <div class="text-center">
                      <span class="badge badge-neutral mb-5">Basic</span>
                    </div>
                    <h1 class="d-flex justify-content-center mb-5 lh-100 text-primary" style="font-size: 3.5rem;">
                      <small class="fw-500" style="font-size: 50%;">$</small>
                      0
                      <small class="align-self-end fw-500" style="font-size: 40%;">/mo</small>
                    </h1>
                    <ul class="list-unstyled mb-5">
                      <li class="mb-3"><i class="mr-3" data-eva="checkmark-circle-2"></i>1 end product</li>
                      <li class="mb-3"><i class="mr-3" data-eva="close-circle"></i>24/7 support</li>
                    </ul>
                    <a class="btn btn-block btn-lg btn-primary" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card mb-5 mb-lg-0 bg-primary">
                  <div class="card-body">
                    <div class="text-center">
                      <span class="badge badge-white mb-5">Advanced</span>
                    </div>
                    <h1 class="d-flex justify-content-center mb-5 lh-100 text-white" style="font-size: 3.5rem;">
                      <small class="fw-500" style="font-size: 50%;">$</small>
                      8
                      <small class="align-self-end fw-500" style="font-size: 40%;">/mo</small>
                    </h1>
                    <ul class="list-unstyled mb-5">
                      <li class="text-muted mb-3"><i class="eva-muted mr-3" data-eva="checkmark-circle-2"></i>2 end products</li>
                      <li class="text-muted mb-3"><i class="eva-muted mr-3" data-eva="checkmark-circle-2"></i>24/7 support</li>
                    </ul>
                    <a class="btn btn-block btn-lg btn-white" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="text-center">
                      <span class="badge badge-neutral mb-5">Pro</span>
                    </div>
                    <h1 class="d-flex justify-content-center mb-5 lh-100 text-primary" style="font-size: 3.5rem;">
                      <small class="fw-500" style="font-size: 50%;">$</small>
                      16
                      <small class="align-self-end fw-500" style="font-size: 40%;">/mo</small>
                    </h1>
                    <ul class="list-unstyled mb-5">
                      <li class="mb-3"><i class="mr-3" data-eva="checkmark-circle-2"></i>3 end products</li>
                      <li class="mb-3"><i class="mr-3" data-eva="checkmark-circle-2"></i>24/7 support</li>
                    </ul>
                    <a class="btn btn-block btn-lg btn-primary" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="fourColumn" role="tabpanel">
            <div class="row">
              <div class="col-md-6 col-xl-3">
                <div class="card mb-5 mb-xl-0">
                  <div class="card-body">
                    <div class="text-center">
                      <span class="badge badge-neutral mb-5">Basic</span>
                    </div>
                    <h1 class="d-flex justify-content-center mb-5 lh-100 text-primary" style="font-size: 3.5rem;">
                      <small class="fw-500" style="font-size: 50%;">$</small>
                      0
                      <small class="align-self-end fw-500" style="font-size: 40%;">/mo</small>
                    </h1>
                    <ul class="list-unstyled mb-5">
                      <li class="mb-3"><i class="mr-3" data-eva="checkmark-circle-2"></i>1 end product</li>
                      <li class="mb-3"><i class="mr-3" data-eva="close-circle"></i>24/7 support</li>
                    </ul>
                    <a class="btn btn-block btn-lg btn-primary" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="card mb-5 mb-xl-0 bg-primary">
                  <div class="card-body">
                    <div class="text-center">
                      <span class="badge badge-white mb-5">Advanced</span>
                    </div>
                    <h1 class="d-flex justify-content-center mb-5 lh-100 text-white" style="font-size: 3.5rem;">
                      <small class="fw-500" style="font-size: 50%;">$</small>
                      8
                      <small class="align-self-end fw-500" style="font-size: 40%;">/mo</small>
                    </h1>
                    <ul class="list-unstyled mb-5">
                      <li class="text-muted mb-3"><i class="eva-muted mr-3" data-eva="checkmark-circle-2"></i>2 end products</li>
                      <li class="text-muted mb-3"><i class="eva-muted mr-3" data-eva="checkmark-circle-2"></i>24/7 support</li>
                    </ul>
                    <a class="btn btn-block btn-lg btn-white" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="card mb-5 mb-md-0">
                  <div class="card-body">
                    <div class="text-center">
                      <span class="badge badge-neutral mb-5">Pro</span>
                    </div>
                    <h1 class="d-flex justify-content-center mb-5 lh-100 text-primary" style="font-size: 3.5rem;">
                      <small class="fw-500" style="font-size: 50%;">$</small>
                      16
                      <small class="align-self-end fw-500" style="font-size: 40%;">/mo</small>
                    </h1>
                    <ul class="list-unstyled mb-5">
                      <li class="mb-3"><i class="mr-3" data-eva="checkmark-circle-2"></i>3 end products</li>
                      <li class="mb-3"><i class="mr-3" data-eva="checkmark-circle-2"></i>24/7 support</li>
                    </ul>
                    <a class="btn btn-block btn-lg btn-primary" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="card">
                  <div class="card-body">
                    <div class="text-center">
                      <span class="badge badge-neutral mb-5">Expert</span>
                    </div>
                    <h1 class="d-flex justify-content-center mb-5 lh-100 text-primary" style="font-size: 3.5rem;">
                      <small class="fw-500" style="font-size: 50%;">$</small>
                      24
                      <small class="align-self-end fw-500" style="font-size: 40%;">/mo</small>
                    </h1>
                    <ul class="list-unstyled mb-5">
                      <li class="mb-3"><i class="mr-3" data-eva="checkmark-circle-2"></i>4 end products</li>
                      <li class="mb-3"><i class="mr-3" data-eva="checkmark-circle-2"></i>24/7 support</li>
                    </ul>
                    <a class="btn btn-block btn-lg btn-primary" href="#">Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/eva-icons@1.1.1/eva.min.js" integrity="sha384-m76M9FZUsYkrBUkI7xVlheH3b+8fhrmj3NW/7DRvtsjYv+vvwft9NB/rilorriCM" crossorigin="anonymous"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
