<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pagination</title>
  <meta name="description" content="#">
  <link rel="stylesheet" href="../../../dist/css/grayshift.min.css">
</head>
<body>
  <nav aria-label="Page Navigation">
    <ul class="pagination mb-3">
      <li class="page-item">
        <a class="page-link" rel="prev" href="#" aria-label="Previous">
          <i data-eva="arrowhead-left"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">
          2
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" rel="next" href="#" aria-label="Next">
          <i data-eva="arrowhead-right"></i>
        </a>
      </li>
    </ul>
  </nav>
  <nav aria-label="Page Navigation">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" rel="prev" href="#">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">
          2
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" rel="next" href="#">Next</a>
      </li>
    </ul>
  </nav>
  <script src="../../../dist/js/jquery-slim.min.js"></script>
  <script src="../../../dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../../dist/js/eva.min.js"></script>
  <script>
  eva.replace()
  </script>
</body>
</html>
